.header {
  height: 6rem;
  background: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 1500;
  box-shadow: rgb(229, 232, 235) 0px 1px 0px 0px;

  .headerBox {
    width: 93.33%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .headerLogo {
      width: 13.33rem;
      height: 3rem;
      position: relative;
      cursor: pointer;
      margin-top: 6px;
    }

    .headerNavs {
      font-size: 1.5rem;
      font-family: Inter-SemiBold, Inter;
      font-weight: 600;
      color: #222222;
      line-height: 1.5rem;
      & > div {
        & + div {
          margin-left: 4.17rem;
        }
      }

      & > div {
        &:hover {
          color: #8e50e4;
        }
      }

      .disabled {
        color: rgba($color: #222, $alpha: 0.5);

        &:hover {
          color: rgba($color: #222, $alpha: 0.5);
          cursor: not-allowed;
        }
      }
    }

    .headerSetting {
      margin-left: 2.42rem;
      height: 100%;
      align-items: center;
      display: flex;

      & > div {
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1.25rem;

        .headerNavImage {
          width: 3.67rem;
          height: 3.67rem;
          position: relative;
        }
      }

      @keyframes btnAnimation {
        0% {
          box-shadow: 0 0 0 0 #ff6e85;
        }
      }
      .connectBtn {
        height: auto;
        padding: 1rem 1.67rem;
        background: linear-gradient(270deg, #e4405b 0%, #8e50e4 100%);
        border-radius: 1.67rem;
        filter: blur(0px);

        font-size: 1.33rem;
        font-family: Inter-SemiBold, Inter;
        font-weight: 600;
        color: #ffffff;
        line-height: 1.33rem;

        animation: btnAnimation 1s infinite ease-in-out;
        box-shadow: 0 0 0 8px transparent;

        margin-left: 1rem;

        &:hover {
          animation: none;
        }
      }
    }

    .mobileMenuIcon {
      svg {
        font-size: 2.4rem;
        color: #222;
      }
    }
  }
}

.walletMenuBox {
  .addressItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.67rem;
    p {
      font-size: 1.5rem;
      font-family: Inter-Medium, Inter;
      font-weight: 500;
      color: #222222;
      line-height: 1.5rem;
    }
    & > div {
      position: relative;
      width: 2rem;
      height: 2rem;
    }
  }
  .divider {
    height: 0.08rem;
    border-bottom: 0.08rem solid rgba($color: #222222, $alpha: 0.1);
    margin: 0.5rem auto;
  }
  .menuItem {
    font-size: 1.5rem;
    font-family: Inter-Medium, Inter;
    font-weight: 500;
    color: #222222;
    line-height: 1.5rem;
    padding: 1rem 0;

    display: flex;
    align-items: center;

    & > div {
      position: relative;
      width: 1.8rem;
      height: 1.8rem;
      margin-right: 1rem;
      display: flex;
      align-items: center;
    }
  }
  .disabled {
    color: rgba($color: #222, $alpha: 0.5);
    cursor: not-allowed;
  }

  .networkHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.67rem;

    p {
      flex-grow: 1;
      text-align: center;
      font-size: 1.33rem;
      font-family: Inter-SemiBold, Inter;
      font-weight: 600;
      color: rgba($color: #222222, $alpha: 0.5);
      line-height: 1.33rem;
      cursor: default;
    }
  }
}

.hiddenAnimation {
  @-webkit-keyframes fade-out-top {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-50px);
      transform: translateY(-50px);
      opacity: 0;
    }
  }
  @keyframes fade-out-top {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-50px);
      transform: translateY(-50px);
      opacity: 0;
    }
  }
  -webkit-animation: fade-out-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: fade-out-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.walletNav {
  position: relative;
  cursor: pointer;
  height: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;

  @-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
  }
  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    100% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
  }

  .walletMenuBox {
    display: none;

    -webkit-animation: slide-bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  &:hover {
    .walletMenuBox {
      display: block;
      position: absolute;
      // top: 66px;
      top: 58px;
      box-shadow: rgb(0 0 0 / 8%) 0px 4px 8px;

      right: -100%;
      width: 22.58rem;
      background: #ffffff;
      border-radius: 1rem;
      padding: 2rem 1.67rem 1.5rem;
      z-index: 1010;
    }
  }
}

.languageNav {
  position: relative;
  cursor: pointer;
  height: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  .languageBox {
    display: none;
    div {
      font-size: 1.5rem;
      font-family: Inter-Medium, Inter;
      font-weight: 500;
      color: #222222;
      line-height: 1.5rem;
      padding: 0.88rem 1.67rem;
    }
  }

  &:hover {
    .languageBox {
      display: block;
      position: absolute;
      top: 84px;
      right: -32%;
      width: 9.5rem;
      background: #ffffff;
      border-radius: 0.83rem;
      padding: 0.88rem 0;

      div:hover {
        background-color: #efefef;
      }
    }
  }
}

.shareNav {
  position: relative;
  cursor: pointer;

  .socialMediaBox {
    display: none;
    position: absolute;
    background: #ffffff;
    border-radius: 0.83rem;
    padding: 0.88rem 0;
    // top: 84px;
    top: 72px;
    right: -50%;
    box-shadow: rgb(0 0 0 / 8%) 0px 4px 8px;

    .mediaItem {
      font-size: 1.5rem;
      font-family: Inter-Medium, Inter;
      font-weight: 500;
      color: #222222;
      line-height: 1.75rem;
      padding: 0.88rem 1.67rem;

      display: flex;
      align-items: center;
      div {
        position: relative;
        width: 2.4rem;
        height: 2.4rem;
        margin-right: 0.5rem;
      }
    }
  }

  &:hover {
    .socialMediaBox {
      display: flex;
      flex-direction: column;

      .mediaItem {
        &:hover {
          background-color: #efefef;
        }
      }
    }
  }
}

.drawer {
  position: relative;
  width: 40rem;
  z-index: 900;
  margin-top: 6rem;
  padding: 2.75rem 2rem;

  .userInfoConnect {
    background: linear-gradient(270deg, #f82757 0%, #984cec 100%);
    border-radius: 2rem;
    padding: 1.33rem;
    font-size: 1.33rem;
    font-family: Inter-SemiBold, Inter;
    font-weight: 600;
    color: #ffffff;
    line-height: 1.33rem;
    text-align: center;
    margin-top: 5vh;
    cursor: pointer;
  }
}

@media screen and (max-width: 1650px) {
  .header {
    .headerBox {
      width: 94%;
    }
  }
}

@media screen and (max-width: 1440px) {
  .header {
    .headerBox {
      // width: 83.3%;
    }
  }
}

@media screen and (max-width: 1240px) {
  .header {
    .headerBox {
      // width: 89%;
    }
  }
}

@media screen and (max-width: 1024px) {
  .header {
    height: 6rem;

    .headerBox {
      // width: 92.2%;

      .headerLogo {
        width: 11.67rem;
        height: 2.67rem;
      }
      .headerNavs {
        & > div {
          & + div {
            margin-left: 3.33rem;
          }
        }
      }
      .headerSetting {
        & > div {
          padding: 0 0.88rem;
        }

        .connectBtn {
          margin-left: 0.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .drawer {
    width: 100vw;
    margin-top: 5.33rem;
  }
  .header {
    height: 4.67rem;
    .headerBox {
      .headerLogo {
        width: 10rem;
        height: 2.33rem;
      }
    }
  }
}
