.gameinfoBox {
  display: flex;
  flex-direction: column;

  .gameCover {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: 2.5px solid white;
    position: relative;
    margin-right: 2.5rem;
    flex-shrink: 0;
    flex-grow: 0;

    background: #efe5e5;
    overflow: hidden;
  }

  .socialList {
    a + a {
      margin-left: 0.83rem;
    }
  }

  .tagList {
    display: flex;
    justify-content: flex-start;
    margin: 1.67rem 0 2.5rem;

    .tagItem {
      border-radius: 0.33rem;
      border: 0.08rem solid rgba($color: #222, $alpha: 0.5);
      font-size: 1rem;
      font-family: Inter-Medium, Inter;
      font-weight: 500;
      color: #222222;
      line-height: 1rem;
      display: inline-flex;
      align-items: center;
      padding: 0.33rem 0.75rem;

      & + .tagItem {
        margin-left: 0.67rem;
      }
    }

    .platformTagItem {
      @extend .tagItem;
    }
  }

  .infoBox {
    flex-grow: 1;

    .infoHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1.67rem auto;

      h3 {
        font-size: 2.5rem;
        font-family: Inter-SemiBold, Inter;
        font-weight: 600;
        color: #222222;
        line-height: 2.5rem;
      }
      button {
        width: 2.67rem;
        height: 2.67rem;
        background-color: rgba($color: #4a99e9, $alpha: 0.1);
      }
    }
  }
  .gameDescBox {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .descBox {
      // flex-grow: 0.9;
    }
    .gameDesc {
      font-size: 1.33rem;
      font-family: Inter-Regular, Inter;
      font-weight: 400;
      color: #222222;
      line-height: 2rem;
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
    }
    .gameDescTwoLine {
      -webkit-line-clamp: 2;
    }
    .showMoreDescBtnPC {
      font-size: 1.33rem;
      font-family: Inter-Regular, Inter;
      font-weight: 400;
      color: #222222;
      line-height: 1.33rem;
      display: inline-flex;
      align-items: center;
      margin-top: 0.67rem;
      cursor: pointer;
      user-select: none;
    }
    .strategyBtn {
      user-select: none;
      flex-shrink: 0;
      margin-left: 1.5rem;
      font-size: 1.17rem;
      font-family: Inter-Medium, Inter;
      font-weight: 500;
      color: #222222;
      line-height: 1.17rem;
      padding: 0.92rem 1.75rem;
      border-radius: 2rem;
      cursor: pointer;
      border: 0.08rem solid rgba($color: #222, $alpha: 0.3);
    }
  }

  .mobileHeader {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .imageCover {
      width: 4.67rem;
      height: 4.67rem;
      position: relative;
      background: #efe5e5;
      border-radius: 50%;
      border: 0.25rem solid #ffffff;
      overflow: hidden;
      margin-right: 3vw;
      flex-shrink: 0;
    }
  }
  .mobileBox {
    .gameTitle {
      margin-top: 1.33rem;
      display: flex;
      flex-direction: column;
      align-self: flex-end;

      h3 {
        height: 1.75rem;
        font-size: 1.75rem;
        font-family: Inter-Bold, Inter;
        font-weight: bold;
        color: #222222;
        line-height: 1.75rem;
      }

      .tagList {
        margin: 0.83rem 0 0 0;
      }
    }
    .gameDescBox {
      display: flex;
      align-items: center;
      font-size: 1.17rem;
      font-family: Inter-Regular, Inter;
      font-weight: 400;
      color: #222222;
      line-height: 1.83rem;
      margin: 0.83rem 0 1.75rem;
    }
    .gameDesc {
      font-size: 1.17rem;
      font-family: Inter-Regular, Inter;
      font-weight: 400;
      color: #222222;
      line-height: 1.83rem;
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
    }
    .gameDescTwoLine {
      width: calc(100% - 2rem);
      -webkit-line-clamp: 1;
    }
    .showMoreBtn {
      display: inline-block;
      height: 18px;
      font-size: 1.17rem;
      font-family: Inter-Regular, Inter;
      font-weight: 400;
      color: #222222;
      line-height: 1.17rem;
      display: inline-flex;
      align-items: center;
      span {
        height: 18px;
      }
    }
    .socialList {
      margin-top: -1rem;
      button {
        width: 3rem;
        height: 3rem;
        background-color: rgba($color: #4a99e9, $alpha: 0.1);
        width: 2.67rem;
        height: 2.67rem;
        background-color: white;
      }
      a + a {
        margin-left: 1rem;
      }
    }
    .strategyBtn {
      display: block;
      width: 10.83rem;
      // float: right;
      margin: auto 0 auto auto;
      font-size: 1.17rem;
      font-family: Inter-Medium, Inter;
      font-weight: 500;
      color: #222222;
      line-height: 1.17rem;
      padding: 0.75rem 1.83rem;
      cursor: pointer;
      border-radius: 1.67rem;
      text-align: center;
      border: 0.08rem solid rgba($color: #222, $alpha: 0.3);
      margin-bottom: 2.5rem;
      user-select: none;
    }
  }
}

// @media screen and (max-width: 1400px) {
//   .gameinfoBox {
//     width: 66.67rem;
//   }
// }

// @media screen and (max-width: 840px) {
//   .gameinfoBox {
//     width: calc(100% - 5rem);
//   }
// }

// @media screen and (max-width: 750px) {
//   .gameinfoBox {
//   }
// }

@media screen and (max-width: 750px) {
  .gameinfoBox {
    flex-direction: column;

    .gameCover {
      width: 8rem;
      height: 8rem;
    }

    .gameDesc {
      // margin: 0.87rem auto 1.75rem;
      font-size: 1.17rem;
      font-family: Inter-Regular, Inter;
      font-weight: 400;
      color: #222222;
      line-height: 1.83rem;
    }
  }
}
