.trialgame {
  .trialgameBox {
    height: 100%;
    width: 78.2%;
    margin: auto;
    padding-top: 5rem;
    padding-bottom: 4.92rem;

    .addressInfo {
      display: flex;
      align-items: center;
      margin-top: 2.5rem;

      .iconBox {
        position: relative;
        display: inline-flex;
        align-items: center;
        margin-right: 0.67rem;

        svg {
          width: 2rem;
          height: 2rem;
        }
      }

      font-size: 1.33rem;
      font-family: Inter-Medium, Inter;
      font-weight: 500;
      color: #222222;
      line-height: 1.33rem;
    }
    .cardList {
      display: flex;
      flex-direction: column;
      margin-top: 0.92rem;

      & > div {
        & + div {
          margin-top: 2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1650px) {
  .trialgame {
    .trialgameBox {
      width: 80%;
      .cardList {
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .trialgame {
    .trialgameBox {
      width: 83.3%;
      // padding-top: 6.67rem;
      .cardList {
      }
    }
  }
}

@media screen and (max-width: 1240px) {
  .trialgame {
    .trialgameBox {
      width: 89%;
      // padding-top: 5rem;

      .cardList {
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .trialgame {
    .trialgameBox {
      width: 92.2%;
      // padding-top: 5rem;

      .cardList {
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .trialgame {
    .trialgameBox {
      width: calc(100% - 2.66rem);
      padding-top: 2.5rem;
      padding-bottom: 1.33rem;

      .addressInfo {
        margin-top: 0.92rem;
        align-items: center;
        .iconBox {
          margin-right: 0.33rem;
          display: inline-flex;
          align-items: center;
          svg {
            width: 1.67rem;
            height: 1.67rem;
          }
        }
        font-size: 1.17rem;
        font-family: Inter-Medium, Inter;
        font-weight: 500;
        color: #222222;
        line-height: 1.17rem;
      }

      .cardList {
        margin-top: 0.83rem;
        & > div {
          & + div {
            margin-top: 1.33rem;
          }
        }
      }
    }
  }
}
