.trialGameCard {
  background: #ffffff;
  border-radius: 1rem;
  border: 0.16rem solid rgba($color: #222, $alpha: 0.1);
  // padding: 1.67rem;
  padding: 2.5rem 1.67rem;

  display: flex;
  justify-content: space-between;

  .gameCover {
    flex-shrink: 0;
    position: relative;
    width: 8rem;
    height: 8rem;
    img {
      border-radius: 50% !important;
    }

    .imageTag {
      position: absolute;
      width: 2.67rem;
      height: 1.33rem;
      img {
        transform: scale(1.2);
      }
    }
  }

  .gameInfo {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 1.67rem;

    h3 {
      font-size: 1.75rem;
      font-family: Inter-SemiBold, Inter;
      font-weight: 600;
      color: #222222;
      line-height: 1.75rem;
      margin-top: 0.58rem;
    }

    .gameTask {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      font-size: 1.17rem;
      font-family: Inter-Medium, Inter;
      font-weight: 500;
      color: rgba($color: #222, $alpha: 0.5);
      line-height: 1.17rem;

      margin-top: 0.33rem;

      .playBtn {
        height: 2.67rem;
        display: inline-flex;
        align-items: center;
        background: #8e50e4;
        border-radius: 1.83rem;

        font-size: 1.17rem;
        font-family: Inter-SemiBold, Inter;
        font-weight: 600;
        color: #ffffff;
        line-height: 1.17rem;
        padding: 0 1.33rem;

        cursor: pointer;
        user-select: none;
      }
    }
    .gameReward {
      display: flex;
      align-items: center;

      font-size: 1.17rem;
      font-family: Inter-Medium, Inter;
      font-weight: 500;
      color: #8e50e4;
      line-height: 1.17rem;

      margin-top: 0.75rem;

      .iconBox {
        position: relative;
        width: 1.17rem;
        height: 1.42rem;
        margin-right: 0.5rem;
      }
    }
  }

  .btnList {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    flex-grow: 0;
    align-items: center;
  }
}

.mobileTrialGameCard {
  background: rgba($color: #8e50e4, $alpha: 0.08);
  border-radius: 0.67rem;
  padding: 1rem 1rem 1.33rem;
  cursor: pointer;

  .cardHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px dotted rgba($color: #222, $alpha: 0.2);
    h3 {
      font-size: 1.5rem;
      font-family: Inter-Bold, Inter;
      font-weight: bold;
      color: #222222;
      line-height: 1.5rem;
    }

    .gameCover {
      position: relative;
      width: 6rem;
      height: 6rem;
      flex-shrink: 0;
      img {
        border-radius: 50%;
      }

      .imageTag {
        width: 2.67rem;
        height: 1.33rem;
        position: absolute;
        left: -0.92rem;
      }
    }
  }
  .gameInfo {
    .gameTask {
      font-size: 1.17rem;
      font-family: Inter-Medium, Inter;
      font-weight: 500;
      color: rgba($color: #222, $alpha: 0.5);
      line-height: 1.17rem;
      margin: 0.92rem auto 0.5rem;
    }
    .gameReward {
      font-size: 1.17rem;
      font-family: Inter-Medium, Inter;
      font-weight: 500;
      color: #8e50e4;
      line-height: 1.67rem;
    }
  }
}

@media screen and (max-width: 1024px) {
  .trialGameCard {
    .btnList {
      .guideBtn {
        padding: 1.17rem 2.24rem;
      }
    }
  }
}

@media screen and (max-width: 900px) {
}
