.nftBox {
  border-radius: 1rem;
  overflow: hidden;

  .coverBox {
    // padding-bottom: 100%;
    background-color: #efe5e5;

    .coverType1 {
      width: 100%;
      padding-bottom: 100%;
      position: relative;
    }
  }

  .nftInfo {
    padding: 1.67rem;
    background-color: white;
    position: relative;

    .nftName {
      text-align: left;
      font-size: 1.5rem;
      font-family: Inter-SemiBold, Inter;
      font-weight: 600;
      color: #222222;
      line-height: 1.5rem;
      padding-bottom: 1rem;
      border-bottom: 0.16rem solid rgba(#222, 0.1);
    }
    .trialInfo {
      display: flex;
      justify-content: space-between;
      margin-top: 0.92rem;
      p {
        font-size: 1.17rem;
        font-family: Inter-Medium, Inter;
        font-weight: 500;
        color: #222222;
        line-height: 1.17rem;
      }
      .trialDay {
        font-size: 1.17rem;
        font-family: Inter-Medium, Inter;
        font-weight: 500;
        color: #8e50e4;
        line-height: 1.17rem;
      }
    }

    @-webkit-keyframes slide-top {
      0% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
      }
      100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
    }
    @keyframes slide-top {
      0% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
      }
      100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
    }

    .trialBtn {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 3.83rem;
      background: #8e50e4;
      border-radius: 0rem 0rem 1rem 1rem;
      font-size: 1.33rem;
      font-family: Inter-SemiBold, Inter;
      font-weight: 600;
      color: #ffffff;
      line-height: 3.83rem;
      text-align: center;
      user-select: none;
      cursor: pointer;
      display: none;
      -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
      animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
    &:hover {
      .trialBtn {
        display: block;
      }
    }
  }

  .modalSizeCardInfo {
    padding: 1rem;
    .nftName {
      padding-bottom: 0.83rem;
    }
    .trialInfo {
      margin-top: 0.75rem;
    }
  }
}

.skeletonBox {
  border-radius: 1rem;
  overflow: hidden;
  .coverBox {
    // padding-bottom: 100%;
    // background-color: #efe5e5;
  }
  .nftInfo {
    padding: 1rem;
    background-color: #e8e8e866;
    .trialInfo {
      span {
        height: 2.5rem;
      }
    }
  }
}
