.drawerBox {
  height: 85vh;
  position: relative;
  overflow: hidden;

  .contentBox {
    position: relative;
    height: calc(100% - 6.67rem);
    overflow-y: scroll;
    // padding-bottom: 6.67rem;

    .nftDetail {
      height: 17.67rem;
      border-radius: 1rem;
      border: 0.08rem solid rgba(#979797, 0.3);

      h3 {
        background: #f4f4f9;
        padding: 1.17rem 2.5rem 1.08rem;
        border-radius: 1rem 1rem 0rem 0rem;
        font-size: 1.75rem;
        font-family: Inter-SemiBold, Inter;
        font-weight: 600;
        color: #222222;
        line-height: 1.75rem;
      }
      & > div {
        padding: 1.67rem 2.5rem;
        .detailItem {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .detailKey {
            font-size: 1.33rem;
            font-family: Inter-Medium, Inter;
            font-weight: 500;
            color: #222222;
            line-height: 1.33rem;
          }

          .detailValue {
            font-size: 1.33rem;
            font-family: Inter-MediumItalic, Inter;
            font-weight: normal;
            color: rgba(#222, 0.5);
            line-height: 1.33rem;
          }

          & + .detailItem {
            margin-top: 1.67rem;
          }
        }
      }
    }

    .infoBox {
      // width: 48.85%;
      max-width: 78.16rem;
      margin: 3.33rem auto 2rem;
      // border: 1px solid gray;
      display: flex;
      justify-content: space-between;

      .infoLeft {
        display: flex;
        flex-direction: column;
        width: calc(50% - 1.25rem);
        .nftCover {
          width: 100%;
          // padding-bottom: 100%;
          background: #f4f4f9;
          border-radius: 1rem;
          margin-bottom: 2.5rem;
          overflow: hidden;

          .nftCoverType1 {
            width: 100%;
            padding-bottom: 100%;
            position: relative;
          }
        }
      }

      .infoRight {
        display: flex;
        flex-direction: column;
        width: calc(50% - 1.25rem);

        .nftInfo {
          height: 12.75rem;
          background: #f4f4f9;
          border-radius: 1rem;
          margin-bottom: 2.5rem;
          padding: 1.67rem 2.5rem;
          h4 {
            font-size: 1.33rem;
            font-family: Inter-SemiBold, Inter;
            font-weight: 600;
            color: rgba(#222, 0.5);
            line-height: 1.33rem;
          }
          h3 {
            font-size: 1.75rem;
            font-family: Inter-SemiBold, Inter;
            font-weight: 600;
            color: #222222;
            line-height: 1.75rem;
            margin: 1.67rem auto;
          }
          .trialInfo {
            display: flex;
            justify-content: space-between;
            margin-top: 1.58rem;
            .trialKey {
              font-size: 1.33rem;
              font-family: Inter-Medium, Inter;
              font-weight: 500;
              color: #222222;
              line-height: 1.33rem;
            }
            .trialValue {
              font-size: 1.33rem;
              font-family: Inter-Medium, Inter;
              font-weight: 500;
              color: #8e50e4;
              line-height: 1.33rem;
            }
          }
        }
        .metaList {
          border-radius: 1rem;
          border: 0.08rem solid rgba(#979797, 0.3);

          h3 {
            font-size: 1.75rem;
            font-family: Inter-SemiBold, Inter;
            font-weight: 600;
            color: #222222;
            line-height: 1.75rem;
            background: #f4f4f9;
            border-radius: 1rem 1rem 0rem 0rem;
            padding: 1.5rem 2.67rem 1.42rem;
          }

          .statusList {
            padding: 1.67rem 2.5rem;

            h4 {
              font-size: 1.33rem;
              font-family: Inter-SemiBold, Inter;
              font-weight: 600;
              color: rgba(#222, 0.3);
              line-height: 1.33rem;
              margin-bottom: 1.67rem;
            }
            .statusItem {
              display: flex;
              justify-content: space-between;
              font-size: 1.33rem;
              font-family: Inter-Medium, Inter;
              font-weight: 500;
              color: #222222;
              line-height: 1.33rem;

              & + .statusItem {
                margin-top: 1.67rem;
              }
            }
          }
        }
      }
    }
  }

  .drawerCloseIcon {
    position: absolute;
    right: 3.33rem;
    top: 3.33rem;
    background-color: rgba(#222, 0.05);
  }

  .btnBox {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 6.67rem;
    background: #8e50e4;
    display: flex;
    justify-content: center;
    align-items: center;

    .trialBtn {
      display: inline-block;
      padding: 1.33rem;
      text-align: center;
      width: 40rem;
      background: rgba(white, 0.1);
      border-radius: 2.67rem;
      font-size: 2rem;
      font-family: Inter-SemiBold, Inter;
      font-weight: 600;
      color: #ffffff;
      line-height: 2rem;
      cursor: pointer;
      user-select: none;
      span {
        font-size: 1.5rem;
        font-family: Inter-Regular, Inter;
        font-weight: 400;
        color: #ffffff;
        line-height: 1.5rem;
      }
    }
    .trialingBtn {
      cursor: default;
    }
  }
}

@media screen and (max-width: 1100px) {
  .drawerBox {
    .contentBox {
      .infoBox {
        width: calc(100% - 13.66rem);
        margin: 2.5rem auto 2rem;
      }
    }
    .drawerCloseIcon {
      top: 2.5rem;
      right: 1rem;
    }
  }
}

@media screen and (max-width: 900px) {
  .drawerBox {
    .contentBox {
      .infoBox {
        width: 60%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .infoLeft,
        .infoRight {
          width: 100%;
        }

        .infoRight {
          .metaList {
            margin-top: 2.5rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .drawerBox {
    .contentBox {
      .infoBox {
        width: 70%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .drawerBox {
    height: calc(100vh - 9.34rem);
    .contentBox {
      height: calc(100% - 5rem);
      .infoBox {
        width: 80%;
        margin-bottom: 1.33rem;

        .infoLeft {
          .nftCover {
            margin-bottom: 1.33rem;
          }
        }

        .infoRight {
          .nftInfo {
            margin-bottom: 1.33rem;
            padding: 1.67rem 1.33rem;
            height: auto;
            h4 {
              font-size: 1.17rem;
              font-family: Inter-SemiBold, Inter;
              font-weight: 600;
              color: rgba(#222, 0.5);
              line-height: 1.17rem;
            }
            h3 {
              font-size: 1.5rem;
              font-family: Inter-SemiBold, Inter;
              font-weight: 600;
              color: #222222;
              line-height: 1.5rem;
              margin: 1.33rem auto;
            }
            .trialInfo {
              margin-top: 1.25rem;
              .trialKey {
                font-size: 1.17rem;
                font-family: Inter-Medium, Inter;
                font-weight: 500;
                color: #222222;
                line-height: 1.17rem;
              }
              .trialValue {
                font-size: 1.17rem;
                font-family: Inter-Medium, Inter;
                font-weight: 500;
                color: #8e50e4;
                line-height: 1.17rem;
              }
            }
          }
          .metaList {
            margin-top: 1.33rem;

            h3 {
              font-size: 1.33rem;
              font-family: Inter-SemiBold, Inter;
              font-weight: 600;
              color: #222222;
              line-height: 1.33rem;
              padding: 1rem 1.25rem;
            }

            .statusList {
              padding: 1.33rem 1.25rem;
              font-size: 1.17rem;
              font-family: Inter-Medium, Inter;
              font-weight: 500;
              color: #222222;
              line-height: 1.17rem;
              & + .statusItem {
                margin-top: 1.33rem;
              }
            }
          }
        }
      }

      .nftDetail {
        height: auto;
        h3 {
          font-size: 1.33rem;
          font-family: Inter-SemiBold, Inter;
          font-weight: 600;
          color: #222222;
          line-height: 1.33rem;
          padding: 1rem 1.25rem;
        }
        & > div {
          padding: 1.33rem 1.25rem;
          .detailItem {
            .detailKey {
              font-size: 1.17rem;
              font-family: Inter-Medium, Inter;
              font-weight: 500;
              color: #222222;
              line-height: 1.17rem;
            }
            .detailValue {
              font-size: 1.17rem;
              font-family: Inter-MediumItalic, Inter;
              font-weight: normal;
              color: rgba(#222, 0.5);
              line-height: 1.17rem;
            }

            & + .detailItem {
              margin-top: 1.33rem;
            }
          }
        }
      }
    }

    .btnBox {
      height: 5rem;
      padding: 0.83rem 1.42rem;
      .trialBtn {
        display: block;
        font-size: 1.33rem;
        font-family: Inter-SemiBold, Inter;
        font-weight: 600;
        color: #ffffff;
        line-height: 1.33rem;
        padding: 1rem;
        span {
          font-size: 1.17rem;
          line-height: 1.17rem;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .drawerBox {
    .contentBox {
      .infoBox {
        width: calc(100% - 2.66rem);
        margin-top: 5rem;
      }
    }
    .drawerCloseIcon {
      top: 1rem;
    }
  }
}
