.smallGameCard {
  background: #ffffff;
  border-radius: 0.67rem;
  overflow: hidden;
  border: 0.08rem solid rgba(#222, 0.2);
  .gameCover {
    position: relative;
    height: 5.33rem;
  }

  .cardContent {
    padding: 0.83rem 0.67rem;
    font-size: 1.17rem;
    font-family: Inter-Medium, Inter;
    font-weight: 500;
    color: #222222;
    line-height: 1.17rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .rewardInfo {
      display: flex;
      align-items: center;
      color: #9c9c9c;

      .iconBox {
        position: relative;
        width: 1.67rem;
        height: 1.67rem;
        margin-right: 0.33rem;
      }
      span {
        color: #8e50e4;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .smallGameCard {
    border: none;
    .gameCover {
      padding-bottom: 100%;
    }

    .cardContent {
      flex-direction: column;
      user-select: none;
      p, .rewardInfo {
        font-size: 1.33rem;
        font-family: Inter-Medium, Inter;
        font-weight: 500;
        color: #222222;
        line-height: 1.33rem;
      }
      .rewardInfo {
        margin-top: 0.92rem;
        span {
          color: #FF3D5A;
        }
      }
    }
  }

  .defaultNone {
    opacity: 0.3;
  }
}
