.hotGames {
  .hotGamesBox {
    height: 100%;
    width: 78.2%;
    margin: auto;
    padding-top: 5rem;
    padding-bottom: 3rem;

    .cardList {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 2.5rem;

      & > div {
        width: calc((100% - 8.32rem) / 5);
        margin-bottom: 2.67rem;

        box-shadow: none;
        &:hover {
          box-shadow: 0rem 0.5rem 2.5rem 0rem rgba(142, 80, 228, 0.1);
        }
      }
    }
  }
}

@media screen and (max-width: 1650px) {
  .hotGames {
    .hotGamesBox {
      width: 80%;
      .cardList {
        // max-height: calc((80vw - 7rem) / 2 + 300px);
        max-height: calc((80vw - 7rem) / 2 + 242px);
        overflow: hidden;
        & > div {
          width: calc((100% - 7rem) / 4);
          margin-bottom: 2.3rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .hotGames {
    .hotGamesBox {
      width: 83.3%;
      // padding-top: 6.67rem;
      .cardList {
        // max-height: calc((83vw - 6rem) / 2 + 300px);
        max-height: calc((83vw - 6rem) / 2 + 238px);

        & > div {
          width: calc((100% - 6rem) / 4);
          margin-bottom: 2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1240px) {
  .hotGames {
    .hotGamesBox {
      width: 89%;
      padding-top: 5rem;

      .cardList {
        max-height: calc((89vw - 6rem) / 2 + 236px);

        margin-top: 2.5rem;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .hotGames {
    .hotGamesBox {
      width: 92.2%;
      padding-top: 5rem;

      .cardList {
        // max-height: calc((92.2vw - 6rem) / 2 + 264px);

        margin-top: 2.5rem;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .hotGames {
    .hotGamesBox {
      .cardList {
        max-height: calc((92.2vw) + 264px);
        & > div {
          width: calc((100% - 4rem) / 3);
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .hotGames {
    .hotGamesBox {
      width: calc(100% - 2.66rem);
      padding-top: 2.5rem;
      padding-bottom: 1.17rem;

      .cardList {
        margin-top: 1.67rem;
        height: auto;
        max-height: none;
        & > div {
          width: calc((100% - 1.33rem) / 2);
          margin-bottom: 1.33rem;
        }
      }
    }
  }
}
