.defaultBtn {
  border-radius: 1.5rem;
  border: 0.08rem solid rgba(#222, 0.2);
  padding: 0.5rem 0.83rem;
  display: inline-flex;
  align-items: center;
  min-width: 7rem;
  cursor: pointer;

  & + .defaultBtn {
    margin-left: 0.83rem;
  }
}

.activedBtn {
  cursor: default;
  border: none;
  background-color: rgba($color: #8E50E4, $alpha: 0.15);
}

.chainIcon {
  width: 1.67rem;
  height: 1.67rem;
  position: relative;
}

.chainName {
  font-size: 1.17rem;
  font-family: Inter-Medium, Inter;
  font-weight: 500;
  color: #222222;
  line-height: 1.33rem;
  user-select: none;
  margin: 0 auto 0 0.67rem;
}

.activeIcon {
  color: #222;
  font-size: 1.5rem;
  font-weight: 600;
}

@media screen and (max-width: 680px){
  .defaultBtn, .activedBtn {
    margin: auto 0.42rem;
    margin-bottom: 1rem;
  }
  .defaultBtn + .defaultBtn {
    margin-left: 0;
  }
}