.collectionBox {
  background: #ffffff;
  padding: 0 0 2.5rem;
  border-radius: 1.33rem;

  .collectionTitle {
    height: 5.17rem;
    background: linear-gradient(
      180deg,
      rgba(#96fcc8, 0.3) 0%,
      rgba(150, 252, 200, 0) 100%
    );
    border-radius: 1.33rem 1.33rem 0rem 0rem;

    padding-top: 1.75rem;
    padding-left: 2.5rem;
    p {
      font-size: 1.5rem;
      font-family: Inter-Bold, Inter;
      font-weight: bold;
      color: #8e50e4;
      line-height: 1.5rem;
    }
  }

  .collectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;

    .userInfo {
      display: flex;
      align-items: center;

      .userLogo {
        position: relative;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
      }

      .userName {
        font-size: 1.5rem;
        font-family: Inter-SemiBold, Inter;
        font-weight: 600;
        color: #222222;
        line-height: 1.5rem;
        margin-left: 0.83rem;
      }
    }
  }

  .articleList {
    padding: 0 2.5rem;
    margin-top: 1.92rem;
    margin-left: 0.5rem;
    position: relative;
    &::before {
      display: block;
      content: '';
      height: 96%;
      width: 1px;
      background-image: linear-gradient(
        to bottom,
        rgba(#222, 0.5) 0%,
        rgba(#222, 0.5) 40%,
        transparent 40%
      );
      background-size: 1px 4px;

      position: absolute;
      z-index: 0;
      top: 2%;
      left: 3.5rem;
    }
  }

  .btnBox {
    margin-top: 1.83rem;
    margin-left: 6.25rem;

    .clickBtn {
      font-size: 1.17rem;
      font-family: Inter-Medium, Inter;
      font-weight: 500;
      color: #8e50e4;
      line-height: 1.17rem;
      user-select: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
}

@media screen and (max-width: 600px) {
  .collectionBox {
    position: relative;
    background: #ffffff;
    border-radius: 1rem;
    padding-bottom: 1.33rem;

    &::before {
      content: '';
      height: 5.17rem;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(
        180deg,
        rgba(#96fcc8, 0.3) 0%,
        rgba(150, 252, 200, 0) 100%
      );
      border-radius: 1rem 1rem 0rem 0rem;
    }

    .collectionTitle {
      height: auto;
      background: transparent;
      padding-top: 1.17rem;
      padding-left: 1rem;
      padding-right: 1rem;
      p {
        font-size: 1.33rem;
        font-family: Inter-Bold, Inter;
        font-weight: bold;
        color: #8e50e4;
        line-height: 1.83rem;
        padding-bottom: 1.08rem;
        border-bottom: 1px solid rgba(#8e50e4, 0.1);
      }
      margin-bottom: 1rem;
    }
    .collectionHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1rem;

      .userInfo {
        display: flex;
        align-items: center;

        .userLogo {
          position: relative;
          width: 2.67rem;
          height: 2.67rem;
          border-radius: 50%;
        }

        .userName {
          font-size: 1.33rem;
          font-family: Inter-SemiBold, Inter;
          font-weight: 600;
          color: #222222;
          line-height: 1.33rem;
          margin-left: 0.67rem;
        }
      }
    }

    .articleList {
      padding: 0 1rem;
      margin-left: 3px;
      margin-top: 0.67rem;
      position: relative;
      &::before {
        display: block;
        content: '';
        height: 96%;
        width: 1px;
        background-image: linear-gradient(
          to bottom,
          rgba(#222, 0.5) 0%,
          rgba(#222, 0.5) 40%,
          transparent 40%
        );
        background-size: 1px 4px;

        position: absolute;
        z-index: 0;
        top: 2%;
        left: 2rem;
      }
    }

    .btnBox {
      margin-top: 0.67rem;
      margin-left: 4.42rem;
    }
  }
}
