.footer {
  height: 20.81rem;
  background: #222222;
  position: relative;

  &::before {
    display: inline-block;
    content: '';
    width: 24.5%;
    height: 100%;
    background: url(../../public/footer_bg1.svg);
    position: absolute;
    top: 0;
  }
  &::after {
    display: inline-block;
    content: '';
    width: 23%;
    height: 100%;
    background: url(../../public/footer_bg2.svg);
    position: absolute;
    top: 0;
    right: 0.03%;
  }
  .footerBox {
    height: 100%;
    width: 73%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .brands {
      flex-grow: 1;
      p {
        margin-top: 2.25rem;
        font-size: 1.33rem;
        font-family: Inter-Medium, Inter;
        font-weight: 500;
        color: #ffffff;
        line-height: 1.33rem;
      }
      h6 {
        margin-top: 3.33rem;
        font-size: 1.33rem;
        font-family: Inter-Medium, Inter;
        font-weight: 500;
        color: rgba($color: white, $alpha: 0.5);
        line-height: 1.33rem;
      }
    }
    .platform,
    .support {
      h4 {
        font-size: 1.75rem;
        font-family: Inter-Bold, Inter;
        font-weight: bold;
        color: #ffffff;
        line-height: 1.75rem;
      }
      p {
        font-size: 1.33rem;
        font-family: Inter-Medium, Inter;
        font-weight: 500;
        color: #ffffff;
        line-height: 1.33rem;
        margin-top: 1.67rem;
      }
    }
    .medias {
      align-self: flex-start;
      margin-top: 60px;
      & > div {
        position: relative;
        width: 3.33rem;
        height: 3.33rem;
        & + div {
          margin-left: 2.5rem;
        }
      }
    }
  }
  .footerBox div {
    & + div {
      margin-left: 7.5rem;
    }
  }
}
