.tableBox {
  box-shadow: none !important;
  padding: 1.5rem 2rem;
  :global {
    .MuiTable-root {
      .MuiTableHead-root,
      .MuiTableBody-root {
        .MuiTableCell-root {
          border-bottom: none;
        }
      }
    }
  }
  table {
    min-width: 900px;
    overflow-x: scroll;
  }
  .tableHeaderCell {
    font-size: 1.5rem;
    font-family: Inter-SemiBold, Inter;
    font-weight: 600;
    color: #222222;
    line-height: 1.5rem;
    user-select: none;
  }

  .tableRow {
    border-top: 1px solid rgba(#222, 0.1);
  }

  .tableBodyCell {
    font-size: 1.33rem;
    font-family: Inter-Regular, Inter;
    font-weight: 400;
    color: #222222;
    line-height: 1.33rem;

    .cellTrialBtn {
      background: rgba(#8e50e4, 0.1);
      border-radius: 1.33rem;
      font-size: 1.17rem;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #8e50e4;
      line-height: 1.17rem;
      padding: 0.75rem;
      max-width: 10rem;
      text-align: center;
      cursor: pointer;
      margin: auto;
    }
  }

  .paginationBox {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    .pagination {
      :global {
        li {
          button {
            background-color: rgba(#222, 0.05);
            border-radius: 0.33rem;
            font-size: 1.17rem;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: rgba(#222, 0.8);
            line-height: 1.17rem;
            border: none;
          }
        }
        .Mui-selected {
          background: #8e50e4;
          border-radius: 0.33rem;
          font-size: 1.17rem;
          font-family: PingFangSC-Medium, PingFang SC;
          font-weight: 500;
          color: #ffffff;
          line-height: 1.17rem;
        }
      }
    }
  }
  .empytTipBox {
    display: flex;
    justify-content: center;
    margin: 6rem auto;
    p {
      font-size: 1.33rem;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: rgba(#222, 0.7);
      line-height: 1.33rem;
    }
  }
  .tableLoadingBox {
    display: flex;
    justify-content: center;
    margin: 6rem auto;
  }

  .emptyList {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7.5rem;

    .emptyIllustration {
      margin: 0 auto;
      position: relative;
      width: 9.25rem;
      height: 6.42rem;
    }
    p {
      margin-top: 1.67rem;
      font-size: 1.5rem;
      font-family: Inter-Regular, Inter;
      font-weight: 400;
      color: rgba(#222, 0.3);
      line-height: 1.33rem;
      text-align: center;
    }
  }
}

@media screen and (max-width: 600px) {
  .tableBox {
    // padding: 0.5rem 0rem 1rem;
    padding: 0;

    table {
      min-width: 600px;
    }

    .paginationBox {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }
    .tableHeaderRow {
      background: #f4f4f9;
    }

    .tableHeaderCell {
      font-size: 1.33rem;
      font-family: Inter-SemiBold, Inter;
      font-weight: 600;
      color: #222222;
      line-height: 1.33rem;
      padding: 1rem 1.17rem;
    }
    .tableBodyCell {
      font-size: 1.17rem;
      font-family: Inter-Regular, Inter;
      font-weight: 400;
      color: #222222;
      line-height: 1.17rem;
      padding: 1.17rem;
    }

    .emptyList {
      margin-top: 4rem;
      p {
        font-size: 1.17rem;
        font-family: Inter-Regular, Inter;
        font-weight: 400;
        line-height: 1.5rem;
        width: 80%;
        margin-top: 0.92rem;
        margin-bottom: 2rem;
      }
    }
  }
}
