.walletItem {
  display: flex;
  justify-content: center;
  align-items: center;

  // background: #ffffff;
  border-radius: 1rem;
  padding: 0.67rem 0.83rem;
  cursor: pointer;
  position: relative;
  z-index: 1;

  :global {
    .MuiSvgIcon-root {
      width: 1.67rem;
      height: 1.67rem;
    }
  }
  p {
    flex-grow: 1;
    text-align: left;
    margin: 0;
    margin-left: 0.83rem;

    font-size: 1.5rem;
    font-family: Inter-SemiBold, Inter;
    font-weight: 600;
    color: #222222;
    line-height: 1.5rem;
  }

  .lastConnectType {
    width: 4.67rem;
    height: 1.5rem;
    background: #222222;
    border-radius: 0.75rem;
    font-size: 1rem;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #ffffff;
    line-height: 1.5rem;
    text-align: center;
  }

  &:hover {
    background-color: white;
    // box-shadow: 0 0 1px 3px rgba($color: #eee, $alpha: 0.8);
  }
}

.walletItem + .walletItem {
  margin-top: 0.67rem;
}

.walletItem {
  .logoBase {
    display: inline-flex;
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
    background-size: contain !important;
  }

  .itemWalletConnectLogo {
    @extend .logoBase;
    background: url(/walletconnect_logo.svg);
  }

  .itemMetamaskLogo {
    @extend .logoBase;
    border-radius: 50%;
    background: #ffe9d3;

    img {
      transform: scale(0.65);
    }
  }
  .itemUnipassLogo {
    @extend .logoBase;
    border-radius: 50%;
    border: 0.08rem solid #e6e6e6;
    align-items: center;
    justify-content: center;
    img {
      transform: scale(1.3);
    }
  }
}

.container {
  // width: 76.67rem;
  // height: 45.83rem;
  margin: auto;
  // background-color: white;
  // border-radius: 1.33rem;
  // position: relative;
  // padding: 5.08rem 2.5rem 2.5rem;

  .closeBtn {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
  :global {
    .MuiPaper-root {
      background: transparent;
      // background: rgba(0, 0, 0, 0.5)
      // width: 40rem;
      max-width: none;
    }
  }
  .dialogContent {
    border-radius: 1.33rem;
    display: flex;

    background-color: white;

    .walletList {
      width: 27.5rem;
      height: 45.83rem;
      padding: 5.08rem 2.5rem 2.5rem;
      background: #f4f4f9;
      border-radius: 1.33rem 0rem 0rem 1.33rem;

      h4 {
        font-size: 2rem;
        font-family: Inter-SemiBold, Inter;
        font-weight: 600;
        color: #222222;
        line-height: 2rem;
        margin-bottom: 2.67rem;
      }
    }
  }
}

.walletIntro {
  padding: 5.08rem 5rem 5rem;
  width: 49.17rem;

  h4 {
    font-size: 2rem;
    font-family: Inter-SemiBold, Inter;
    font-weight: 600;
    color: #222222;
    line-height: 1.75rem;
  }
  .subtitle {
    width: 105%;
    font-size: 16px;
    font-family: Inter-Medium, Inter;
    font-weight: 500;
    color: #222222;
    line-height: 2rem;
    margin-top: 1rem;
    padding-bottom: 2.5rem;
  }

  .downItem {
    border-radius: 1rem;
    border: 1px solid rgba(34, 34, 34, 0.2);
    height: 5.33rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.17rem;

    margin-top: 3.33rem;
    position: relative;
    cursor: pointer;

    &:hover {
      border-color: rgba($color: #8e50e4, $alpha: 0.5);
    }

    img {
      height: 3rem;
      width: 3rem;
      // background: #FFE9D3;
      // border-radius: 50%;
      transform: scale(0.8);
    }
    p {
      flex-grow: 1;
      text-align: left;
      margin-left: 0.83rem;
      font-size: 1.5rem;
      font-family: Inter-SemiBold, Inter;
      font-weight: 600;
      color: #222222;
      line-height: 1.5rem;
      user-select: none;
    }
    .getBtn {
      height: 3rem;
      background: #8e50e4;
      border-radius: 0.67rem;
      filter: blur(0px);
      font-size: 1.33rem;
      font-family: Inter-SemiBold, Inter;
      font-weight: 600;
      color: #ffffff;
      line-height: 3rem;
      padding: 0 2.17rem;
      user-select: none;
      cursor: pointer;
    }

    .beginnerBadge {
      position: absolute;
      top: -0.75rem;
      width: 7.83rem;
      height: 1.5rem;
      background: #222222;
      border-radius: 0.75rem;
      font-size: 1rem;
      font-family: PingFangSC-Semibold, PingFang SC;
      font-weight: 600;
      color: #96fcc8;
      line-height: 1.5rem;
      text-align: center;
      user-select: none;

      &::after {
        content: '';
        width: 0;
        height: 0;
        border-color: transparent;
        border-top: 0.58rem solid #222;
        border-left: 0.66rem solid transparent;
        border-right: 0.66rem solid transparent;
        position: absolute;
        bottom: -0.3rem;
        left: 0.83rem;
      }
    }
  }

  .metamaskGuide {
    font-size: 1.33rem;
    font-family: Inter-Regular, Inter;
    font-weight: 400;
    color: #222222;
    line-height: 1.33rem;
    display: block;
    margin-top: 1rem;
    text-decoration: underline;
    cursor: pointer;
  }
  .unipassGuide {
    font-size: 1.33rem;
    font-family: Inter-Regular, Inter;
    font-weight: 400;
    color: #222222;
    line-height: 1.33rem;
    margin-top: 1rem;
  }
}

.mobileConnect {
  .drawerBox {
    padding-top: 6rem;

    .drawerHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #f4f4f9;

      padding: 0 1.33rem;
      padding-top: 2.5rem;
      h4 {
        font-size: 1.5rem;
        font-family: Inter-SemiBold, Inter;
        font-weight: 600;
        color: #222222;
        line-height: 1.5rem;
      }
    }
    .mobileWalletList {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #f4f4f9;
      padding-bottom: 1.67rem;

      .mobileWalletItem {
        width: 8.83rem;
        height: 8.83rem;
        background: #ffffff;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1.5rem;
        margin-top: 1.67rem;
        position: relative;
        cursor: pointer;

        & + .mobileWalletItem {
          margin-left: 1rem;
        }
        .baseMobileLogo {
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
          display: inline-flex;
          align-items: center;
          justify-content: center;
        }
        .unipassLogo {
          @extend .baseMobileLogo;
          border: 0.08rem solid #e6e6e6;
          img {
            width: 3rem;
            height: 3rem;
          }
        }
        .metamaskLogo {
          @extend .baseMobileLogo;
          background: #ffe9d3;
          img {
            transform: scale(0.85);
          }
        }
        .walletConnectLogo {
          @extend .baseMobileLogo;
          img {
            width: 4rem;
            height: 4rem;
          }
        }

        p {
          font-size: 14px;
          font-family: Inter-SemiBold, Inter;
          font-weight: 600;
          color: #222222;
          line-height: 14px;
          margin-top: 0.67rem;
          user-select: none;
        }

        .recentBadge {
          position: absolute;
          top: 0.5rem;
          left: 0.5rem;
          width: 3.83rem;
          height: 1.33rem;
          background: #222222;
          border-radius: 0.67rem;
          font-size: 0.83rem;
          font-family: PingFangSC-Semibold, PingFang SC;
          font-weight: 600;
          color: #ffffff;
          line-height: 0.83rem;
          display: inline-flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .walletIntro {
    padding: 2.5rem 1.33rem;
    width: 100%;

    h4 {
      font-size: 1.5rem;
      font-family: Inter-SemiBold, Inter;
      font-weight: 600;
      color: #222222;
      line-height: 1.5rem;
      text-align: center;
    }

    .subtitle {
      width: 100%;
      font-size: 1.17rem;
      font-family: Inter-Medium, Inter;
      font-weight: 500;
      color: #222222;
      line-height: 1.67rem;
      text-align: center;
      margin-top: 0.67rem;
      padding-bottom: 0.5rem;
    }
    .downItem {
      margin-top: 2rem;
      p {
        font-size: 1.33rem;
        font-family: Inter-SemiBold, Inter;
        font-weight: 600;
        color: #222222;
        line-height: 1.33rem;
      }
      .getBtn {
        height: 2.67rem;
        font-size: 1.17rem;
        font-family: Inter-SemiBold, Inter;
        font-weight: 600;
        color: #ffffff;
        line-height: 2.67rem;
      }
    }

    .metamaskGuide {
      font-size: 1.17rem;
      font-family: Inter-Medium, Inter;
      font-weight: 500;
      color: #222222;
      line-height: 1.17rem;
    }

    .unipassGuide {
      font-size: 1.17rem;
      font-family: Inter-Medium, Inter;
      font-weight: 500;
      color: #222222;
      line-height: 1.17rem;
    }
  }
  .container {
    :global {
      .MuiPaper-root {
        width: 100%;
        margin: auto 2rem;
      }
    }

    .dialogContent {
      font-family: Inter-Medium, Inter;
      font-weight: 500;
      color: #222222;
      .walletItem {
        padding: 1rem 1.17rem;

        p {
          font-size: 16px;
          line-height: 16px;
        }

        .logoBase {
          width: 3rem;
          height: 3rem;
          background-size: 100% 100%;
        }
      }
    }
  }

  .walletList {
    padding: 0 2rem 3rem;
  }

  .mobileConnect {
    .drawerBox {
      padding-top: 4.67rem;
    }
  }
}

@media screen and (max-width: 374px) {
  .mobileConnect {
    .drawerBox {
      .mobileWalletList {
        .mobileWalletItem {
          & + .mobileWalletItem {
            margin-left: 0.5rem;
          }
        }
      }
    }
  }
}
