.containBox {
  min-height: 90vh;
  padding: 0rem 0 8.42rem;
  background: #ff3d5a;

  .header {
    position: relative;
    .topBackground {
      position: relative;
      height: 50rem;
    }
    .playGameIcon {
      position: absolute;
      width: 21.39rem;
      height: 20.08rem;
      right: calc(50% - 48rem);
      bottom: 12rem;
    }

    .icon3 {
      position: absolute;
      width: 9.3rem;
      height: 5.45rem;
      bottom: 10rem;
      right: 40%;
    }
    .icon4 {
      position: absolute;
      width: 9.28rem;
      height: 6.67rem;
      top: 7.08rem;
      right: 24.58rem;
    }
    .icon2 {
      position: absolute;
      width: 5.65rem;
      height: 4.85rem;
      top: 6.25rem;
      right: 47.83rem;
    }
    .icon1 {
      position: absolute;
      width: 14.55rem;
      height: 14.09rem;
      top: 23.17rem;
      left: 12.25rem;
    }

    .headerDesc {
      position: absolute;
      max-width: 100rem;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      user-select: none;
      .brandLogos {
        position: relative;
        width: 29.27rem;
        height: 4.37rem;
        margin-top: 5.58rem;
        margin-bottom: 2.58rem;
      }
      h2 {
        font-size: 4.67rem;
        font-family: Branding-Bold, Branding;
        font-weight: bold;
        color: #ffffff;
        line-height: 5.33rem;
        & + h2 {
          margin-bottom: 1.67rem;
        }
      }
      p {
        width: 80%;
        font-size: 2rem;
        font-family: Inter-SemiBold, Inter;
        font-weight: 600;
        color: #ffffff;
        line-height: 3rem;
      }
    }
  }
  .container {
    position: relative;
    z-index: 10;
    width: 100rem;
    margin: auto;
    margin-top: -12rem;

    .notifyBox {
      background: #ffffff;

      border-radius: 1rem;
      min-height: 5rem;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;

      @keyframes messageAnimation {
        0% {
          margin-left: 0;
        }
        100% {
          margin-left: -100%;
        }
      }
      .trialNotify {
        height: 6rem;

        display: flex;
        align-items: center;
        animation: 20s messageAnimation linear infinite;

        .messageItem {
          font-size: 1.5rem;
          font-family: Inter-Medium, Inter;
          font-weight: 500;
          color: #222222;
          line-height: 3.33rem;

          background: rgba(#8e50e4, 0.1);
          border-radius: 0.67rem;
          margin: auto 0.83rem;
          padding: 0 1.67rem;
          span {
            font-size: 1.5rem;
            font-family: Inter-SemiBold, Inter;
            font-weight: 600;
            color: #222222;
            line-height: 1.5rem;
          }
        }
      }
    }

    .dailyActivity {
      background: #ffffff;
      border-radius: 1rem;

      // border-radius: 1rem 1rem 0rem 0rem;

      padding: 2.5rem 3.33rem 0rem;
      padding-bottom: 1.67rem;

      overflow: hidden;

      .dailyHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 1.83rem;
        border-bottom: 0.08rem solid rgba(#222, 0.2);

        h3 {
          font-size: 2rem;
          font-family: Inter-SemiBold, Inter;
          font-weight: 600;
          color: #222222;
          line-height: 2rem;
        }
        .headerDiscord {
          display: flex;
          align-items: center;
          p {
            font-size: 1.33rem;
            font-family: Inter-Medium, Inter;
            font-weight: 500;
            color: #222222;
            line-height: 1.33rem;
            margin-right: 0.83rem;
          }
          .discordBtn {
            padding: 0.42rem 1.42rem 0.42rem 1rem;
            background: #222222;
            border-radius: 0.5rem;
            display: inline-flex;
            align-items: center;
            user-select: none;
            cursor: pointer;

            & > div {
              position: relative;
              width: 2.17rem;
              height: 2.17rem;
              transform: scale(1.4);
              margin-right: 0.75rem;
              background-color: #222;
            }

            p {
              font-size: 1.17rem;
              font-family: Inter-Medium, Inter;
              font-weight: 500;
              color: #ffffff;
              line-height: 1.17rem;
            }
          }
        }
      }

      .todayActivity {
        margin: 1.67rem auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .activityLogo {
          position: relative;
          width: 3.33rem;
          height: 3.33rem;
          border-radius: 50%;
          overflow: hidden;
          margin-right: 0.83rem;
          flex-shrink: 0;
        }
        p {
          font-size: 1.5rem;
          font-family: Inter-Medium, Inter;
          font-weight: 500;
          color: #222222;
          line-height: 2rem;
        }
        .highlight {
          color: #8e50e4;
        }
        .mobileDailyReward {
        }
      }
    }
    .winnerList {
      height: 5.33rem;
      background: #f2edfb;
      border-radius: 0rem 0rem 1rem 1rem;
      display: flex;
      align-items: center;
      padding: 0 3.33rem;
      .winerLabel {
        display: flex;
        align-items: center;
        p {
          font-size: 1.17rem;
          font-family: Inter-SemiBold, Inter;
          font-weight: 600;
          color: #222222;
          line-height: 1.17rem;
        }
      }
    }

    .taskProgress {
      background: #ffffff;
      border-radius: 1rem;
      min-height: 50rem;
      margin-top: 2.5rem;
      padding: 2rem 3.33rem 3.33rem;
      .cardHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 0.92rem;
        border-bottom: 0.08rem solid rgba(#222, 0.2);
        h3 {
          font-size: 2rem;
          font-family: Inter-SemiBold, Inter;
          font-weight: 600;
          color: #222222;
          line-height: 2rem;
        }
        p {
          font-size: 2rem;
          font-family: Inter-SemiBold, Inter;
          font-weight: 600;
          color: #222222;
          line-height: 2rem;
          span {
            display: inline-flex;
            justify-content: center;
            width: 3.33rem;
            height: 3.33rem;
            background: #8e50e4;
            border-radius: 0.67rem;
            font-size: 2rem;
            font-family: Inter-SemiBold, Inter;
            font-weight: 600;
            color: #ffffff;
            line-height: 3.33rem;
          }
        }
      }

      .addressSection {
        display: flex;
        justify-content: space-between;
        margin-top: 1.67rem;
        .textConnect {
          margin-left: 1rem;
          cursor: pointer;
        }
        p {
          font-size: 1.5rem;
          font-family: Inter-Medium, Inter;
          font-weight: 500;
          color: #222222;
          line-height: 1.5rem;
          display: flex;
          align-items: center;
          .rewardBox {
            display: inline-flex;
            align-items: center;
            margin-left: 0.83rem;

            font-size: 1.5rem;
            font-family: Inter-Medium, Inter;
            font-weight: 500;
            color: #8e50e4;
            line-height: 1.5rem;
            user-select: none;
            .iconBox {
              position: relative;
              width: 2rem;
              height: 2rem;
              margin-right: 0.33rem;
            }
          }
        }
      }

      .mobileMedals {
        margin-left: 0.87rem;
        margin-right: 0.87rem;
        margin-top: 1.58rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .rewardIcon {
          width: 5.33rem;
          height: 5.33rem;
          flex-shrink: 0;
          position: relative;
          margin-right: 1.08rem;
        }
        .rewardBox {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          & > p {
            font-size: 1.5rem;
            font-family: Inter-SemiBold, Inter;
            font-weight: 600;
            color: #222222;
            line-height: 1.5rem;
            margin-bottom: 0.58rem;
          }
        }
      }

      .gamePanel {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 2.5rem;

        .gameList {
          // margin-right: 2.5rem;
          margin-left: -0.83rem;
          margin-right: -0.83rem;
          flex-grow: 1;
          display: flex;
          flex-wrap: wrap;

          & > div {
            width: calc(33.3% - 1.67rem);
            margin: auto 0.83rem;
            margin-bottom: 1.67rem;
          }
        }
      }

      .rewardDesc {
        margin-top: 0.83rem;
        h4 {
          font-size: 1.17rem;
          font-family: Inter-Bold, Inter;
          font-weight: bold;
          color: #222222;
          line-height: 1.83rem;
        }
        p {
          font-size: 1.17rem;
          font-family: Inter-Medium, Inter;
          font-weight: 500;
          color: #222222;
          line-height: 1.83rem;
        }
      }

      .rewardList {
        margin-top: 1.67rem;

        .rewardItem {
          height: 4.67rem;
          background: rgba(#222, 0.05);
          border-radius: 0.67rem;

          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding: 0.67rem 0.83rem;

          .rewardLevel {
            display: flex;
            align-items: center;
            .rewardIcon {
              position: relative;
              width: 3.33rem;
              height: 3.33rem;
              margin-right: 0.67rem;
            }
            p {
              font-size: 1.5rem;
              font-family: Inter-SemiBold, Inter;
              font-weight: 600;
              color: #222222;
              line-height: 1.5rem;
            }
          }

          .rewardBox {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-left: 1.67rem;
            .rewardValue {
              padding: 0.5rem 2rem 0.5rem 0.67rem;
              // background-color: white;
              background: linear-gradient(270deg, #ffffff 0%, #ffffff 100%);
              border-radius: 1.67rem;
              display: flex;
              align-items: center;
              & > div {
                position: relative;
                width: 2.33rem;
                height: 2.33rem;
                border-radius: 50%;
                margin-right: 0.83rem;
                border-radius: 50%;
                overflow: hidden;
                flex-shrink: 0;
              }
              p {
                font-size: 1.17rem;
                font-family: Inter-Medium, Inter;
                font-weight: 500;
                color: #222222;
                line-height: 1.17rem;
              }
              & + .rewardValue {
                margin-left: 0.83rem;
              }
            }
          }

          & + .rewardItem {
            margin-top: 1rem;
          }
        }
      }
    }

    .trialGames {
      background: #ffffff;
      border-radius: 1rem;
      margin-top: 2.5rem;
      min-height: 30rem;

      padding: 2.58rem 1.66rem 0;

      .cardTitle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 1.66rem 2.5rem;
        h3 {
          font-size: 2rem;
          font-family: Inter-SemiBold, Inter;
          font-weight: 600;
          color: #222222;
          line-height: 2rem;
        }
        p {
          font-size: 1.17rem;
          font-family: Inter-Regular, Inter;
          font-weight: 400;
          color: #222222;
          line-height: 1.17rem;
        }
      }

      .gameList {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        & > div {
          width: calc(25% - 3.33rem);
          margin: auto 1.66rem;
          margin-bottom: 3.33rem;
        }
      }
    }

    .activityRules {
      background: #ffffff;
      border-radius: 1rem;
      margin-top: 2.5rem;
      padding: 2.25rem 2.75rem;
      h3 {
        font-size: 2rem;
        font-family: Inter-SemiBold, Inter;
        font-weight: 600;
        color: #222222;
        line-height: 2rem;
      }
      h4 {
        font-size: 1.33rem;
        font-family: Inter-SemiBold, Inter;
        font-weight: 600;
        color: #222222;
        margin-top: 1.33rem;
        margin-bottom: 0.5rem;
      }
      .gapLine {
        display: block;
        width: 100%;
        height: 3px !important;
      }
      p {
        font-size: 1.17rem;
        font-family: Inter-Medium, Inter;
        font-weight: 500;
        color: #222222;
        line-height: 1.67rem;
        margin: 0.5rem auto;

        li {
          margin-left: 2.5rem;
          line-height: 2rem;
        }
        ol {
          margin-left: -2rem;
          margin-top: 0;
          margin-bottom: 0;
          line-height: 2rem;
        }
      }

      .showmoreBtn {
        font-size: 1.17rem;
        font-family: Inter-Medium, Inter;
        font-weight: 500;
        color: #222222;
        line-height: 1.67rem;
        display: inline-flex;
        align-items: flex-end;
        user-select: none;
        margin-top: 1rem;
        cursor: pointer;
      }
    }

    .organizerBox {
      height: 21.67rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 1rem;
      margin-top: 3.33rem;

      & > div {
        width: calc(50% - 1.67rem);
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .containBox {
    width: 100%;
    min-height: 0;
    // height: 50vh;

    .header {
      width: 100%;
      .topBackground {
        height: 33.3rem;
      }
      .playGameIcon {
        bottom: 0;
        right: 7rem;
        width: 18.38rem;
        height: 16.7rem;
      }
      .headerDesc {
        left: 5rem;
        right: 5rem;
        .brandLogos {
          margin-top: 3.42rem;
          margin-bottom: 1.75rem;
        }
        h2 {
          font-size: 3.33rem;
          font-family: Branding-Bold, Branding;
          font-weight: bold;
          color: #ffffff;
          line-height: 4rem;
        }
        p {
          width: 60%;
          font-size: 1.75rem;
          font-family: Inter-Medium, Inter;
          font-weight: 500;
          color: #ffffff;
          line-height: 2.67rem;
        }
      }
    }

    .container {
      width: auto;
      margin-left: 5rem;
      margin-right: 5rem;
      margin-top: 0rem;
      .taskProgress {
        .gamePanel {
          .gameList {
            & > div {
              width: calc(33.3% - 1.67rem);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .containBox {
    padding-bottom: 2.75rem;

    .container {
      .trialGames {
        padding: 2.58rem 1.25rem 0;

        .gameList {
          & > div {
            width: calc(33.3% - 2.5rem);
            margin: auto 1.25rem;
            margin-bottom: 2.5rem;
          }
        }
      }
      .taskProgress {
        padding: 2rem 1.76rem 3.33rem;
        .cardHeader,
        .addressSection,
        .rewardDesc {
          margin-left: 0.87rem;
          margin-right: 0.87rem;
        }
        .gamePanel {
          flex-direction: column;
          .gameList {
            margin-right: 0;
            margin-left: 0;
            & > div {
              width: calc(50% - 1.76rem);
              margin: auto 0.87rem;
              margin-bottom: 1.76rem;
            }
          }
          .rewardPool {
            width: calc(100% - 1.76rem);
            margin: auto;
          }
        }
      }

      .organizerBox {
        height: auto;
        flex-direction: column;
        & > div {
          width: calc(100%);
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .containBox {
    .header {
      .headerDesc {
        left: 2.5rem;
        right: 2.5rem;
      }
    }
    .container {
      margin-left: 2.5rem;
      margin-right: 2.5rem;
    }
  }
}

@media screen and (max-width: 900px) {
  .containBox {
    .container {
      .dailyActivity {
        .dailyHeader {
          .headerDiscord {
            & > p {
              display: none;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 850px) {
  .containBox {
    .header {
      .playGameIcon {
        bottom: 0;
        right: 4rem;
      }
    }
    .container {
      .taskProgress {
        .gamePanel {
          .gameList {
            & > div {
              width: calc(100% - 1.76rem);
              margin: auto 0.87rem;
              margin-bottom: 1.76rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .containBox {
    .header {
      .headerDesc {
        .brandLogos {
          width: 22.43rem;
          height: 3.33rem;
          margin-top: 1.5rem;
          margin-bottom: 2.33rem;
        }
        h2 {
          font-size: 2.5rem;
          font-family: Branding-Bold, Branding;
          font-weight: bold;
          color: #ffffff;
          line-height: 3rem;
          & + h2 {
            margin-bottom: 2rem;
          }
        }
        p {
          width: 70%;
          font-size: 1.5rem;
          font-family: Inter-SemiBold, Inter;
          font-weight: 600;
          color: #ffffff;
          line-height: 2.5rem;
        }
      }
      .icon4 {
        width: 6.15rem;
        height: 4.42rem;
        top: 2.5rem;
        right: 0.42rem;
      }
      .playGameIcon {
        bottom: 0;
        right: 1.67rem;
        width: 12.78rem;
        height: 10.93rem;
      }
      .icon1 {
        width: 8.54rem;
        height: 8.99rem;
        left: -0.5rem;
        top: 10rem;
      }
      .icon2 {
        width: 3.61rem;
        height: 3.1rem;
        top: 4.3rem;
        right: 11rem;
      }
      .icon3 {
        width: 5.94rem;
        height: 3.48rem;
        bottom: 1rem;
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .containBox {
    .container {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 650px) {
  .containBox {
    .container {
      .taskProgress {
        .gamePanel {
          .gameList {
            & > div {
              width: calc(50% - 1.76rem);
              margin: auto 0.87rem;
              margin-bottom: 1.76rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .containBox {
    padding-bottom: 1.75rem;
    .header {
      .topBackground {
        height: 34.17rem;
      }

      .headerDesc {
        left: 1.33rem;
        right: 1.33rem;
        .brandLogos {
          width: 22.43rem;
          height: 3.33rem;
          margin-top: 1.5rem;
          margin-bottom: 2.33rem;
        }
        h2 {
          font-size: 2.5rem;
          font-family: Branding-Bold, Branding;
          font-weight: bold;
          color: #ffffff;
          line-height: 3rem;
          margin-bottom: 2rem;
        }
        p {
          width: 70%;
          font-size: 1.5rem;
          font-family: Inter-SemiBold, Inter;
          font-weight: 600;
          color: #ffffff;
          line-height: 2.5rem;
        }
      }
    }
    background-color: #f4f4f9;
    .container {
      .dailyActivity {
        // width: calc(100% - 2.66rem);
        padding: 1.33rem 1rem 1rem;
        border-radius: 0;

        .dailyHeader {
          flex-direction: column;
          padding-bottom: 1.5rem;
          h3 {
            font-size: 1.5rem;
            font-family: Inter-SemiBold, Inter;
            font-weight: 600;
            color: #222222;
            line-height: 1.5rem;
            margin-bottom: 0.83rem;
          }
          .headerDiscord {
            flex-direction: column;
            p {
              display: block;
              font-size: 1.17rem;
              font-family: Inter-Regular, Inter;
              font-weight: 400;
              color: #222222;
              line-height: 1.17rem;
              text-align: center;
            }
            .discordBtn {
              margin-top: 0.83rem;
              padding-right: 0.5rem;
              width: 11.67rem;
              height: 3rem;
            }
          }
        }
        .todayActivity {
          align-items: flex-start;
          margin: 1.25rem auto;
          p {
            font-size: 1.33rem;
            font-family: Inter-Medium, Inter;
            font-weight: 500;
            color: #222222;
            line-height: 2rem;
          }
          .activityLogo {
            margin-top: 3px;
          }
        }
      }
      .notifyBox {
        width: calc(100% - 2.66rem);
        height: 4rem;
        min-height: 0;
        margin: auto;
        margin-top: -2rem;
        border-radius: 0.67rem;
        .trialNotify {
          height: 4rem;
          .messageItem {
            margin: auto 0;
            font-size: 1.33rem;
            font-family: Inter-SemiBold, Inter;
            font-weight: 600;
            color: rgba(#222222, 0.8);
            line-height: 1.33rem;
            background: white;
            span {
              color: rgba(#222222, 1);
            }
          }
        }
      }
      .trialGames {
        border-radius: 0;
        margin-top: 1rem;
        padding: 0rem 0.66rem 0.33rem;
        overflow: hidden;
        .cardTitle {
          margin: 1.42rem 0.66rem 1.42rem;
          h3 {
            font-size: 1.5rem;
            font-family: Inter-SemiBold, Inter;
            font-weight: 600;
            color: #222222;
            line-height: 1.5rem;
          }
        }
        .gameList {
          & > div {
            width: calc(50% - 1.33rem);
            margin: auto 0.66rem;
            margin-bottom: 1.33rem;
          }
        }
      }

      .taskProgress {
        border-radius: 0;
        margin-top: 1rem;
        padding: 1rem 0.66rem 0.83rem;

        .cardHeader {
          h3 {
            font-size: 1.5rem;
            font-family: Inter-SemiBold, Inter;
            font-weight: 600;
            color: #222222;
            line-height: 1.5rem;
          }
          p {
            font-size: 1.5rem;
            font-family: Inter-SemiBold, Inter;
            font-weight: 600;
            color: #222222;
            line-height: 1.5rem;
            span {
              font-size: 1.5rem;
              font-family: Inter-SemiBold, Inter;
              font-weight: 600;
              color: #ffffff;
              line-height: 1.5rem;
              width: 2.33rem;
              height: 2.33rem;
              border-radius: 0.5rem;
              line-height: 2.33rem;
            }
          }
        }

        .addressSection {
          margin-top: 1.17rem;
          p {
            font-size: 1.33rem;
            font-family: Inter-Medium, Inter;
            font-weight: 500;
            color: #222222;
            line-height: 1.33rem;

            .rewardBox {
              display: none;
            }
          }
        }

        .gamePanel {
          margin-top: 1rem;
          .gameList {
            & > div {
              width: calc(100vw - 2rem);
              // margin: auto 0.87rem;
              margin: auto;
              margin-left: 0.33rem;
              margin-right: 0.33rem;
              margin-bottom: 0.84rem;
            }
          }
        }

        .rewardList {
          .rewardItem {
            height: auto;
            padding: 1.17rem 0.83rem;
            .rewardLevel {
              width: 8.4rem;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              border-image: linear-gradient(
                  180deg,
                  rgba(0, 0, 0, 0),
                  rgba(0, 0, 0, 1),
                  rgba(255, 255, 255, 1)
                )
                0.08 0.08;

              .rewardIcon {
                margin-right: 0;
              }
              p {
                font-size: 1.33rem;
                font-family: Inter-SemiBold, Inter;
                font-weight: 600;
                color: #222222;
                line-height: 1.33rem;
                margin-top: 0.33rem;
              }
            }
            .rewardBox {
              flex-direction: column;
              align-items: flex-start;
              justify-content: flex-start;

              .rewardValue {
                & + .rewardValue {
                  margin-left: 0;
                }
              }
            }
            .rewardValue {
              background: transparent !important;
              // flex-direction: column;
            }
          }
        }
      }

      .activityRules {
        padding: 1.67rem 1.33rem;
        h3 {
          font-size: 1.5rem;
          font-family: Inter-SemiBold, Inter;
          font-weight: 600;
          color: #222222;
          line-height: 1.5rem;
        }
      }
      .organizerBox {
        height: auto;
        flex-direction: column;
        margin-top: 1.67rem;
        padding: 0 1rem;
        & > div {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .containBox {
  }
}
