.gameBox {
  min-height: calc(100vh - 27.17rem);

  .topCover {
    height: 20rem;
    position: relative;
  }

  .gameInfoBox {
    max-width: 100rem;
    margin: 5.83rem auto 5.33rem;
  }

  .rewardMainBox {
    background: rgba(#e4405b, 0.08);
    overflow: hidden;
  }
  .carnivalRewrads {
    max-width: 100rem;
    margin: auto;
    min-height: 10rem;
    // background: rgba(#E4405B, 0.08);
    border-radius: 1rem;
    padding: 5rem 0 2.5rem;
    .cardHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        font-size: 2rem;
        font-family: Inter-Bold, Inter;
        font-weight: bold;
        color: #222222;
        line-height: 2rem;
      }
      .mediaBox {
        display: flex;
        align-items: center;
        font-size: 1.33rem;
        font-family: Inter-Medium, Inter;
        font-weight: 500;
        color: #222222;
        line-height: 1.33rem;
        .rewardIcon {
          position: relative;
          width: 2rem;
          height: 2rem;
          margin-right: 0.33rem;
        }
      }
    }
    .rewardDesc {
      font-size: 1.33rem;
      font-family: Inter-Regular, Inter;
      font-weight: 400;
      color: #222222;
      line-height: 2rem;
      margin-top: 0.8rem;
      margin-bottom: 2.5rem;
      width: 80%;
      text-align: left;
    }
  }

  .rewardDrop {
    max-width: 100rem;
    margin: auto;
    margin-bottom: 5rem;
    h4 {
      font-size: 1.5rem;
      font-family: Inter-Bold, Inter;
      font-weight: bold;
      color: rgba(#222, 0.5);
      line-height: 1.5rem;
      margin-bottom: 1.67rem;
    }
    .dropDesc {
      background: #8e50e4;
      border-radius: 1rem;
      height: 10.83rem;
      background-repeat: no-repeat;
      position: relative;
      overflow: hidden;
      padding: 2.17rem 1.83rem;
      display: flex;
      align-items: center;
      p {
        font-size: 1.5rem;
        font-family: Inter-SemiBold, Inter;
        font-weight: 600;
        color: #ffffff;
        line-height: 2.17rem;
        width: 70%;
      }

      .bg_ill {
        position: absolute;
        background-image: url('/game_drop_reward.png');
        width: 14.87rem;
        height: 10.83rem;
        right: 3rem;
        object-fit: cover;
        background-size: 100% 120%;
      }
      .bg {
        width: 10.87rem;
        height: 10.83rem;
        position: absolute;
        right: 4rem;
        // top: 0;
        bottom: -20px;
        background: radial-gradient(#984cec, #6effc4);
        border-radius: 50%;
        filter: blur(6px);
      }
    }
  }

  .gameStrategy {
    max-width: 100rem;
    margin: auto;
    margin-top: 4.17rem;
    margin-bottom: 3.67rem;

    h4 {
      font-size: 1.75rem;
      font-family: Inter-Bold, Inter;
      font-weight: bold;
      color: #222222;
      line-height: 1.75rem;
      margin-bottom: 1.67rem;
    }
    .strategyDesc {
      font-size: 1.33rem;
      font-family: Inter-Regular, Inter;
      font-weight: 400;
      color: #222222;
      // line-height: 2rem;
      h4 {
        font-size: 1.5rem;
        line-height: 2rem;
      }
      p {
        font-size: 1.33rem;
      }
      a {
        text-decoration: underline;
      }
    }
    .strategyLink {
      display: inline-flex;
      width: 11.33rem;
      height: 3.33rem;
      border-radius: 2rem;
      border: 0.08rem solid rgba(#222, 0.3);
      filter: blur(0px);
      font-size: 1.17rem;
      font-family: Inter-SemiBold, Inter;
      font-weight: 600;
      color: #222222;
      line-height: 1.17rem;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      margin-top: 3.33rem;
      user-select: none;
    }
    .carnivalHome {
      background: linear-gradient(270deg, #e4405b 0%, #8e50e4 100%);
      border-radius: 2rem;
      filter: blur(0px);
      padding: 1.33rem 7rem;
      text-align: center;
      font-size: 1.33rem;
      font-family: Inter-SemiBold, Inter;
      font-weight: 600;
      color: #ffffff;
      line-height: 1.33rem;
      max-width: 25rem;
      margin: auto;
      cursor: pointer;
      margin-top: 5rem;
      user-select: none;
    }
  }

  .rewardBox {
    max-width: 100rem;
    margin: auto;

    h4 {
      font-size: 1.75rem;
      font-family: Inter-Bold, Inter;
      font-weight: bold;
      color: rgba(#222, 0.5);
      line-height: 1.75rem;
      margin-bottom: 0.83rem;
    }
    .rewardItem {
      display: flex;
      justify-content: space-between;
      background: rgba($color: #8e50e4, $alpha: 0.1);
      // padding: 1.67rem;
      padding-left: 1.67rem;
      border-radius: 0.67rem;
      .rewardName {
        display: flex;
        align-items: center;

        .rewardIcon {
          position: relative;
          width: 1.5rem;
          height: 1.86rem;
          margin-right: 0.83rem;
          flex-shrink: 0;
        }
        p {
          font-size: 1.75rem;
          font-family: Inter-SemiBoldItalic, Inter;
          font-weight: normal;
          color: #222222;
          line-height: 1.75rem;
        }
      }

      .rewardValue {
        padding: 1.67rem 1.67rem 1.67rem 4rem;
        background: rgba($color: #8e50e4, $alpha: 0.1);
        border-radius: 8.33rem 0.67rem 0.67rem 0rem;
        flex-shrink: 0;
        p {
          font-size: 1.75rem;
          font-family: Inter-SemiBoldItalic, Inter;
          font-weight: normal;
          color: #8e50e4;
          line-height: 1.75rem;
        }
      }
    }
  }

  .rewardMobileBox {
    background: rgba(#8e50e4, 0.1);
    border-radius: 0.67rem;
    padding: 1rem 1.33rem;
    margin: auto;
    .cardHeader {
      display: flex;
      justify-content: space-between;
      padding-bottom: 1rem;
      border-bottom: 0.16rem solid rgba(#222, 0.1);
      h4 {
        font-size: 1.75rem;
        font-family: Inter-SemiBold, Inter;
        font-weight: 600;
        color: #222222;
        line-height: 1.75rem;
      }
      img {
        width: 1.17rem;
        height: 1.45rem;
      }
    }
    .rewardDesc {
      font-size: 1.33rem;
      font-family: Inter-Medium, Inter;
      font-weight: 500;
      color: #222222;
      line-height: 1.67rem;
      margin-top: 1rem;
    }
    .rewardVal {
      display: flex;
      align-items: center;
      font-size: 1.33rem;
      font-family: Inter-SemiBold, Inter;
      font-weight: 600;
      color: #8e50e4;
      line-height: 1.33rem;
      margin-top: 0.83rem;
      img {
        margin-left: 1rem;
        width: 2.5rem;
        height: 1.75rem;
      }
    }
  }

  @keyframes btnAnimation {
    0% {
      box-shadow: 0 0 0 0 #ff6e85;
    }
  }

  .btnBox {
    text-align: center;
    margin-top: 6.42rem;
    .trialBtn {
      display: inline-block;
      margin: auto;
      padding: 1.5rem 6.67rem 1.45rem;
      font-size: 1.75rem;
      font-family: Inter-SemiBold, Inter;
      font-weight: 600;
      color: #ffffff;
      line-height: 1.75rem;
      background: linear-gradient(270deg, #e4405b 0%, #8e50e4 100%);
      border-radius: 2.67rem;
      cursor: pointer;
      user-select: none;

      animation: btnAnimation 1s infinite ease-in-out;
      box-shadow: 0 0 0 8px transparent;

      &:hover {
        animation: none;
      }
    }

    .noTrialBtn {
      display: inline-block;
      margin: auto;
      padding: 1.5rem 4.67rem 1.45rem;
      font-size: 1.75rem;
      font-family: Inter-SemiBold, Inter;
      font-weight: 600;
      color: #ffffff;
      line-height: 1.75rem;
      background: rgba(#222, 0.3);
      border-radius: 2.67rem;
      user-select: none;
    }

    .downIcon {
      margin: 3.4rem auto;
      @-webkit-keyframes slide-bottom {
        0% {
          -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
        }
        100% {
          -webkit-transform: translateY(20px);
          transform: translateY(20px);
        }
      }
      @keyframes slide-bottom {
        0% {
          -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
        }
        100% {
          -webkit-transform: translateY(20px);
          transform: translateY(20px);
        }
      }

      svg {
        width: 4.12rem;
        height: 4.5rem;
        // background: linear-gradient(45deg, #f82757 0%, #984cec 100%);
        color: rgba(#222, 0.8);
        // line-height: 3.3rem;
        // background-image: -webkit-linear-gradient(270deg, #e4405b 0%, #8e50e4 100%);
        // -webkit-background-clip: text;
        // // -webkit-text-fill-color: #e4405b;
        // -webkit-text-fill-color: transparent;

        -webkit-animation: slide-bottom 1.5s infinite both;
        animation: slide-bottom 1.5s infinite both;
      }
    }
  }

  .btnMobileBox {
    margin: 1.83rem auto 2.83rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .gameStrategyBtn {
      margin-top: 1rem;
      padding: 1.17rem 2rem;
      border-radius: 2rem;
      border: 0.16rem solid #bb489c;

      font-size: 1.33rem;
      font-family: Inter-SemiBold, Inter;
      font-weight: 600;
      color: rgba(142, 80, 228, 0);
      line-height: 1.33rem;
      background: linear-gradient(270deg, #e4405b 0%, #8e50e4 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      cursor: pointer;
    }

    .trialBtn {
      margin-top: 1rem;
      background: linear-gradient(270deg, #e4405b 0%, #8e50e4 100%);
      box-shadow: 0rem 0.67rem 2.5rem 0rem rgba(142, 80, 228, 0.3);
      border-radius: 2.67rem;
      filter: blur(0px);

      font-size: 1.33rem;
      font-family: Inter-SemiBold, Inter;
      font-weight: 600;
      color: #ffffff;
      line-height: 1.33rem;

      padding: 1.17rem 2rem;
      cursor: pointer;
    }
    .noTrialBtn {
      margin-top: 1rem;
      background: rgba(#222, 0.3);
      box-shadow: 0rem 0.67rem 2.5rem 0rem rgba(142, 80, 228, 0.3);
      border-radius: 2.67rem;
      filter: blur(0px);

      font-size: 1.33rem;
      font-family: Inter-SemiBold, Inter;
      font-weight: 600;
      color: #ffffff;
      line-height: 1.33rem;

      padding: 1.17rem 2rem;
    }
  }

  .cardBox {
    margin: auto;
    background: #f4f4f9;

    .cardContent {
      max-width: calc(100rem + 2rem);
      margin: auto;
      padding: 6.67rem 0;
      h3 {
        text-align: center;
        font-size: 2.5rem;
        font-family: Inter-Bold, Inter;
        font-weight: bold;
        color: #222222;
        line-height: 2.5rem;
      }
      h4 {
        text-align: center;
        margin-top: 1.58rem;
        font-size: 1.5rem;
        font-family: Inter-Medium, Inter;
        font-weight: 500;
        color: #222222;
        line-height: 1.5rem;
      }

      .cardList {
        margin-top: 3.33rem;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        & > div {
          width: calc((100% - 8rem) / 4);
          margin-bottom: 2rem;
          margin-left: 1rem;
          margin-right: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .gameBox {
    .carnivalRewrads {
      width: calc(100% - 10rem);
      margin: auto;

      .rewardDesc {
        width: 100%;
      }
    }
    .rewardDrop {
      width: calc(100% - 10rem);
      margin: auto;
      margin-bottom: 5rem;
    }
    .gameStrategy {
      width: calc(100% - 10rem);
      margin: 3rem auto;
    }
    .rewardBox,
    .gameInfoBox {
      width: calc(100% - 10rem);
    }
    .cardBox {
      width: 100%;
      .cardContent {
        width: calc(100% - 10rem);
        margin: auto;
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .gameBox {
    .carnivalRewrads {
      width: calc(100% - 6rem);
      margin: auto;

      .rewardDesc {
        width: 100%;
      }
    }
    .rewardDrop {
      width: calc(100% - 6rem);
    }
    .gameStrategy {
      width: calc(100% - 6rem);
      margin: 2.5rem auto;
    }

    .topCover {
      height: 18.33rem;
    }
    .rewardBox,
    .gameInfoBox {
      width: calc(100% - 6rem);
    }

    .cardBox {
      .cardContent {
        width: calc(100% - 6rem);
        .cardList {
          & > div {
            width: calc((100% - 8rem) / 3);
            margin-bottom: 2rem;
            margin-left: 1rem;
            margin-right: 1rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .gameBox {
    .carnivalRewrads {
      width: calc(100% - 4rem);
      margin: auto;

      .rewardDesc {
        width: 100%;
      }
    }
    .rewardDrop {
      width: calc(100% - 4rem);
    }
    .gameStrategy {
      width: calc(100% - 4rem);
      margin: 2.4rem auto;
    }

    .rewardBox,
    .rewardMobileBox,
    .gameInfoBox {
      width: calc(100% - 4rem);
    }

    .gameInfoBox {
      margin: 2rem auto 0;
    }
    .btnBox {
      margin-top: 4rem;
      .downIcon {
        margin: 2rem auto;
      }
    }
    .cardBox {
      .cardContent {
        width: calc(100% - 4rem);

        .cardList {
          justify-content: center;
          & > div {
            width: calc((100% - 8rem) / 2);
            margin-bottom: 2rem;
            margin-left: 1rem;
            margin-right: 1rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .gameBox {
    .carnivalRewrads {
      width: 100%;
      padding: 1.67rem 1.33rem;
      .cardHeader {
        p {
          font-size: 1.75rem;
          font-family: Inter-Bold, Inter;
          font-weight: bold;
          color: #222222;
          line-height: 2rem;
        }
        .mediaBox {
          font-size: 1.17rem;
          font-family: Inter-Medium, Inter;
          font-weight: 500;
          color: #222222;
          line-height: 1.17rem;
        }
      }

      .rewardDesc {
        font-size: 1.17rem;
        font-family: Inter-Regular, Inter;
        font-weight: 400;
        color: #222222;
        line-height: 2rem;
      }
    }

    .rewardDrop {
      width: 100%;
      padding: 1.67rem 1.33rem;
      margin-bottom: 0;
      .dropDesc {
        align-items: flex-start;
        height: 20rem;
        padding: 1.67rem 1.33rem;
        p {
          width: 80%;
        }
        .bg {
          right: 0;
        }
        .bg_ill {
          right: -1rem;
          bottom: 2rem;
        }
      }
    }
    .gameStrategy {
      width: 100%;
      padding: 1.67rem 1.33rem;
      margin-top: 1rem;
      margin-bottom: 2.42rem;
      h4 {
        margin-bottom: 0.83rem;
      }
      .strategyDesc {
        font-size: 1.17rem;
        font-family: Inter-Regular, Inter;
        font-weight: 400;
        color: #222222;
        line-height: 2rem;
      }
      .strategyLink {
        width: 100%;
        margin-top: 2.5rem;
        height: 3.33rem;
        padding: 1.08rem 0;
        font-size: 1.17rem;
        font-family: Inter-SemiBold, Inter;
        font-weight: 600;
        line-height: 1.17rem;
      }
      .carnivalHome {
        width: 100%;
        max-width: none;
        margin-top: 1.67rem;
        padding: 1.08rem 0;
        font-size: 1.17rem;
        font-family: Inter-SemiBold, Inter;
        font-weight: 600;
        color: #ffffff;
        line-height: 1.17rem;
      }
    }
    .topCover {
      height: 15rem;
    }

    .gameInfoBox {
      width: calc(100% - 2.66rem);
      margin: auto;
      margin-top: -3.33rem;
    }
    .btnBox {
      display: none;
    }
    .rewardBox,
    .rewardMobileBox {
      width: calc(100% - 2.66rem);
    }
    .cardBox {
      .cardContent {
        width: calc(100% - 1.2rem);

        padding: 2.5rem 0;

        h3 {
          font-size: 1.75rem;
          font-family: Inter-Bold, Inter;
          font-weight: bold;
          color: #222222;
          line-height: 1.75rem;
        }

        h4 {
          font-size: 1.17rem;
          font-family: Inter-Medium, Inter;
          font-weight: 500;
          color: #222222;
          line-height: 1.17rem;
          margin-top: 0.83rem;
        }
        .cardList {
          margin-top: 1.67rem;
          & > div {
            width: calc((100% - 2.84rem) / 2);
            margin-bottom: 1.42rem;
            margin-left: 0.71rem;
            margin-right: 0.71rem;
          }
        }
      }
    }
  }
}
