.coverBox {
  position: relative;
  height: 23.4vw;
  max-height: 41.67rem;
  // min-height: 33.33rem;
  object-fit: cover;
  background: linear-gradient(
    180deg,
    rgba(#984cec, 0.3) 0%,
    rgba(110, 255, 196, 0.3) 100%
  );
}

.contactUs {
  height: 16.67rem;
  background: #8e50e4;
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    text-decoration: underline;
    color: white;
  }

  h3 {
    font-size: 4rem;
    font-family: Montserrat-ExtraBold, Montserrat;
    font-weight: 800;
    color: #ffffff;
    line-height: 4rem;

    margin-top: 4.17rem;
    margin-bottom: 1.5rem;
  }
  p {
    font-size: 1.75rem;
    font-family: Inter-Medium, Inter;
    font-weight: 500;
    color: #ffffff;
    line-height: 1.75rem;
    text-align: center;
    max-width: 80%;
  }
}

.mainBox {
  min-height: 200px;
  background-color: #f4f4f9;
}

@media screen and (min-width: 1921px) {
  .coverBox {
    background-size: cover;
  }
}

@media screen and (max-width: 1400px) {
  .coverBox {
    height: 23.4vw;
  }
}
@media screen and (max-width: 1200px) {
  .coverBox {
    height: 25.8vw;
  }
}

@media screen and (max-width: 1024px) {
  .contactUs {
    height: 14.5rem;
    h3 {
      font-size: 3.33rem;
      // font-family: Inter-Bold, Inter;
      // font-weight: bold;
      color: #ffffff;
      // line-height: 3.33rem;
      margin-bottom: 1.33rem;
    }
    p {
      font-size: 1.5rem;
      // font-family: Inter-Medium, Inter;
      // font-weight: 500;
      // color: #ffffff;
      line-height: 1.5rem;
    }
  }
}

@media screen and (max-width: 900px) {
  .coverBox {
    height: 38.9vw;
  }
}

@media screen and (max-width: 600px) {
  .coverBox {
    // height: 41.67rem;
    object-fit: contain;
  }
  .contactUs {
    h3 {
      font-size: 2.67rem;
      font-family: Montserrat-ExtraBold, Montserrat;
      font-weight: 800;
      color: #ffffff;
      line-height: 2.67rem;
      margin-top: 3rem;
      margin-bottom: 1.25rem;
    }
    p {
      font-size: 17px;
      font-family: Inter-SemiBold, Inter;
      font-weight: 600;
      color: #ffffff;
      line-height: 2rem;
      max-width: 98%;
      text-align: center;
    }
  }
}

@media screen and (max-width: 450px) {
  .coverBox {
    height: 48vw;
  }
}

@media screen and (max-width: 374px) {
  .coverBox {
    // height: 128vw;
  }
}
