.containerBox {
  min-height: 80vh;
  background: #f4f4f9;

  .profileHeaderBox {
    // height: 23.33rem;
    background-color: white;

    .profileCover {
      height: 20rem;
      position: relative;
    }

    .profileHeader {
      max-width: 100rem;
      margin: auto;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      // align-items: center;

      .profileAvatar {
        position: relative;
        width: 8.66rem;
        height: 8.66rem;
        border: 4px solid white;
        border-radius: 50%;
        margin-top: -4.33rem;
        img {
          border-radius: 50%;
        }
      }
      .headerInfo {
        flex-grow: 1;

        display: flex;
        flex-direction: column;
        padding-bottom: 2.67rem;

        .mobileInfo {
          padding: 1.67rem 0 1.33rem;
          .mobileUserInfo {
            display: flex;
            align-items: center;

            .mobileAvatar {
              width: 4.67rem;
              height: 4.67rem;
              position: relative;
              margin-right: 0.83rem;
              img {
                border-radius: 50%;
              }
            }

            .infoBox {
              display: flex;
              flex-direction: column;
              justify-content: center;
              .addressItem {
                font-size: 1.75rem;
                font-family: Inter-Medium, Inter;
                font-weight: 500;
                color: #222222;
                line-height: 1.5rem;
                margin-top: 0;

                svg {
                  width: 1rem;
                  height: 1rem;
                }
              }
              .passNFTInfo {
                font-size: 1.17rem;
                font-family: Inter-Medium, Inter;
                font-weight: 500;
                color: rgba(#222, 0.5);
                line-height: 1.17rem;
                // margin-top: 0.83rem;
                margin-top: 0.4rem;
                .iconBox {
                  width: 1.17rem;
                  height: 1.17rem;
                  position: relative;
                  margin-left: 0.33rem;
                }
              }
            }
          }

          .unipassLink {
            margin-top: 1.33rem;
            font-size: 1.17rem;
            font-family: Inter-Regular, Inter;
            font-weight: 400;
            color: #222222;
            line-height: 1.67rem;
            padding: 0.5rem 0.83rem;
            border-radius: 0.67rem;
            .arrowIcon {
              flex-shrink: 0;
            }
          }
        }

        .addressItem {
          margin-top: 1.33rem;
          font-size: 2.5rem;
          font-family: Inter-SemiBold, Inter;
          font-weight: 600;
          color: #222222;
          line-height: 2.17rem;

          display: flex;
          align-items: center;

          p {
            opacity: 0.75;
            font-style: italic;
            font-size: 2.4rem;
          }
        }

        .passNFTInfo {
          display: inline-flex;
          align-items: center;
          font-size: 1.33rem;
          font-family: Inter-Medium, Inter;
          font-weight: 500;
          color: rgba(#222, 0.5);
          line-height: 1.17rem;

          margin-top: 1.08rem;
          .iconBox {
            width: 1.33rem;
            height: 1.33rem;
            position: relative;
            margin-left: 0.42rem;
          }
        }

        .unipassLink {
          margin-top: 1.75rem;
          // cursor: pointer;
          font-size: 1.33rem;
          font-family: Inter-Medium, Inter;
          font-weight: 500;
          color: #222222;
          line-height: 1.33rem;

          background: rgba(#8e50e4, 0.08);
          border-radius: 0.5rem;
          padding: 1.33rem 1.25rem;

          a {
            display: inline-flex;
            align-items: center;
          }

          .arrowIcon {
            width: 1.67rem;
            height: 1.67rem;
            margin-left: 0.83rem;
            border-radius: 50%;
            color: #8e50e4;
            background: rgba(#8e50e4, 0.2);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            svg {
              transform: scale(0.8);
            }
          }
        }

        .chainsActiveItem {
          display: flex;
          align-items: center;
          margin-top: 2.5rem;

          .chainsActiveDesc {
            font-size: 1.5rem;
            font-family: Inter-SemiBold, Inter;
            font-weight: 600;
            color: #222222;
            line-height: 1.5rem;
            margin-right: 1.67rem;
          }
        }

        .integralItem {
          display: flex;
          align-items: center;
          margin-top: 2.5rem;
          p {
            font-size: 1.5rem;
            font-family: Inter-SemiBold, Inter;
            font-weight: 600;
            color: #222222;
            line-height: 1.5rem;
          }
          span {
            color: #8e50e4;
          }
          .integralDesc {
            margin-right: 0.83rem;
          }
        }
      }
    }
  }

  .profileContent {
    max-width: 100rem;
    min-height: 50rem;
    margin: auto;
    overflow: hidden;

    .balanceSection {
      background-color: white;
      padding: 2.5rem 2rem 2.67rem;
      border-radius: 1rem;
      margin-top: 3.33rem;

      h3 {
        font-size: 1.5rem;
        font-family: Inter-SemiBold, Inter;
        font-weight: 600;
        color: #222222;
        line-height: 1.33rem;
        margin-bottom: 2.5rem;
      }
    }

    .hiddenTab {
      display: none !important;
    }
    .tabsHeader {
      margin-top: 4rem;

      :global {
        button {
          font-size: 1.5rem;
          font-family: Inter-SemiBold, Inter;
          font-weight: 600;
          color: #222222;
          line-height: 1.5rem;
          opacity: 0.5;
          padding-left: 0 !important;
          padding-right: 0 !important;
          padding-bottom: 0.5rem !important;
          width: auto;
          min-width: 0 !important;
          text-transform: unset;
          & + button {
            margin-left: 2.5rem;
          }
        }
        .Mui-selected {
          opacity: 1;
        }
        .MuiTabs-indicator {
          height: 0.17rem;
          background: #222222;
        }
      }
    }

    .itemBox {
      margin-top: 2.5rem;
      margin-bottom: 6.67rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      & > div {
        width: calc((100% - 6.18rem) / 4);
        margin: auto 0.77rem;
        margin-bottom: 2.08rem;
      }

      .passNFTTips,
      .trialGameBtnBox {
        width: 100%;
        display: flex;
        flex-direction: column;
        // justify-content: space-around;
        justify-content: center;
        align-items: center;
        padding-top: 10rem;
        .trialGameBtn {
          text-align: center;
          background: rgba(#8e50e4, 0.1);
          border-radius: 2.5rem;
          width: 26.67rem;
          font-size: 1.75rem;
          font-family: Inter-Medium, Inter;
          font-weight: 500;
          color: #8e50e4;
          line-height: 1.33rem;
          padding: 1.67rem;
          user-select: none;
          cursor: pointer;
          // margin: 10rem auto 2.5rem;
          display: inline-block;
        }
        p {
          text-align: center;
          font-size: 1.5rem;
          font-family: Inter-Medium, Inter;
          font-weight: 500;
          color: rgba(#222, 0.3);
          line-height: 2.5rem;
          margin-top: 2.5rem;
        }
        p + p {
          margin-top: 0;
        }
      }
    }

    .activityBox {
      margin-top: 1.67rem;
      margin-bottom: 6.67rem;
      background-color: white;
      border-radius: 1rem;
    }
  }
}

@media screen and (max-width: 1440px) {
  .containerBox {
    .profileHeaderBox {
      // height: 21.67rem;
      .profileHeader {
        .headerInfo {
          .addressItem {
            // font-size: 2.5rem;
            // font-family: Inter-Medium, Inter;
            // font-weight: 500;
            // color: #222222;
            // line-height: 2.5rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .containerBox {
    .profileHeaderBox {
      .profileHeader {
        width: 94%;
      }
    }
    .profileContent {
      width: 94%;
    }
  }
}

@media screen and (max-width: 1024px) {
  .containerBox {
    .profileHeaderBox {
      // height: 20rem;
      .profileHeader {
        .headerInfo {
          .chainsActiveItem {
            margin-top: 2rem;
          }

          .integralItem {
            margin-top: 1.67rem;
          }
        }
        .passNFTBox {
          width: 11.67rem;
          height: 11.67rem;
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .containerBox {
    .profileContent {
      .itemBox {
        & > div {
          width: calc((100% - 4rem) / 3);
          margin: auto 0.6rem;
          margin-bottom: 1.42rem;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .containerBox {
    .profileHeaderBox {
      .profileHeader {
        .headerInfo {
          .chainsActiveItem {
            align-items: flex-start;
            flex-direction: column;

            .chainsActiveDesc {
              margin-bottom: 1.2rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .containerBox {
    .profileContent {
      width: 100%;

      .itemBox {
        padding: 0 0.6rem;
        margin-top: 1.17rem;
        margin-bottom: 2rem;
        & > div {
          width: calc((100% - 2.9rem) / 2);
          margin: auto 0.6rem;
          margin-bottom: 1.42rem;
        }
      }
      .activityBox {
        margin-bottom: 2rem;
        margin-top: 1rem;
      }

      .tabsHeader {
        padding-left: 1.33rem;
        margin-top: 2rem;
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .containerBox {
    min-height: 50vh;
    .profileHeaderBox {
      height: auto;
      .profileHeader {
        // flex-direction: column;
        // padding-bottom: 1rem;

        .headerInfo {
          order: 1;
          width: 100%;
          padding-bottom: 0;

          .chainsActiveItem {
            margin-top: 1.68rem;
            .chainsActiveDesc {
              font-size: 1.33rem;
              font-family: Inter-SemiBold, Inter;
              font-weight: 600;
              color: #222222;
              line-height: 1.33rem;
            }

            .activeBtnList {
              flex-wrap: wrap;
            }
          }
          .integralItem {
            margin-top: 0.58rem;
            padding-top: 1.58rem;
            margin-bottom: 1.58rem;
            border-top: 0.16rem solid rgba($color: #222, $alpha: 0.1);
            p {
              font-size: 1.33rem;
              font-family: Inter-SemiBold, Inter;
              font-weight: 600;
              color: #222222;
              line-height: 1.5rem;
            }
          }
        }
        .passNFTBox {
          order: 0;
          margin-top: 2.5rem;
        }
      }
    }
    .profileContent {
      min-height: 30rem;
      .itemBox {
        .passNFTTips,
        .trialGameBtnBox {
          padding-top: 4rem;
          .trialGameBtn {
            font-size: 1.5rem;
            font-family: Inter-SemiBold, Inter;
            font-weight: 600;
            color: #8e50e4;
            line-height: 1.5rem;
            padding: 1.25rem 4rem;
            width: auto;
            // margin: 4rem auto 2rem;
          }
          p {
            font-size: 1.33rem;
            font-weight: 500;
            line-height: 2rem;
            margin-top: 1.2rem;
          }
          p + p {
            margin-top: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .containerBox {
    .profileContent {
      .balanceSection {
        margin-top: 0.83rem;
        border-radius: 0;
        padding: 1.67rem 1.33rem;
        h3 {
          font-size: 1.33rem;
          font-family: Inter-SemiBold, Inter;
          font-weight: 600;
          color: #222222;
          line-height: 1.17rem;
          margin-bottom: 1.67rem;
        }
      }
    }
  }
}
