.passSuccessBox {
  width: 32.5rem;
  height: 41rem;
  background: #ffffff;
  border-radius: 1.33rem;
  padding: 1.5rem 1rem 2.5rem;
  text-align: center;
  position: relative;

  .successIllustration {
    position: relative;
    width: 21.67rem;
    height: 21.67rem;
    margin: auto;
  }

  h3 {
    font-size: 2.5rem;
    font-family: Inter-SemiBold, Inter;
    font-weight: 600;
    color: #222222;
    line-height: 3rem;
  }
  h4 {
    font-size: 1.75rem;
    font-family: Inter-SemiBold, Inter;
    font-weight: 600;
    color: #222222;
    line-height: 1.75rem;
  }

  .successBtn {
    font-size: 1.33rem;
    font-family: Inter-SemiBold, Inter;
    font-weight: 600;
    color: #ffffff;
    line-height: 1.33rem;

    display: inline-block;
    padding: 1.33rem;
    height: 4rem;
    background: linear-gradient(270deg, #f82757 0%, #984cec 100%);
    border-radius: 2.42rem;
    min-width: 20rem;

    cursor: pointer;
    margin-top: 2.33rem;
    margin-bottom: 0.25rem;
  }

  .reopenTips {
    font-size: 1rem;
    font-family: Inter-Medium, Inter;
    font-weight: 500;
    color: #222222;
    line-height: 1rem;
  }

  .closeIcon {
    position: absolute;
    right: 2.5rem;
    top: 2.5rem
  }
}
