.passSuccessBox {
  width: 32.5rem;
  // height: 41rem;
  background: #ffffff;
  border-radius: 1.33rem;
  padding: 1.5rem 1rem 1.5rem;
  text-align: center;
  position: relative;

  .successIllustration {
    position: relative;
    width: 21.67rem;
    height: 21.67rem;
    margin: auto;
  }

  h3 {
    font-size: 2.5rem;
    font-family: Inter-SemiBold, Inter;
    font-weight: 600;
    color: #222222;
    line-height: 3rem;
  }
  h4 {
    font-size: 1.75rem;
    font-family: Inter-SemiBold, Inter;
    font-weight: 600;
    color: #222222;
    line-height: 1.75rem;
  }

  .successBtn {
    font-size: 1.33rem;
    font-family: Inter-SemiBold, Inter;
    font-weight: 600;
    color: #ffffff;
    line-height: 1.33rem;

    display: inline-block;
    padding: 1.33rem;
    height: 4rem;
    background: linear-gradient(270deg, #f82757 0%, #984cec 100%);
    border-radius: 2.42rem;
    min-width: 20rem;

    cursor: pointer;
    margin-top: 3.33rem;
    margin-bottom: 0.25rem;
  }

  .reopenTips {
    font-size: 1.33rem;
    font-family: Inter-Medium, Inter;
    font-weight: 500;
    color: #222222;
    line-height: 1.33rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .closeIcon {
    position: absolute;
    right: 2.5rem;
    top: 2.5rem;
  }
}

@media screen and (max-width: 460px) {
  .passSuccessBox {
    width: calc(100vw - 6rem);
    padding: 0rem 0.8rem 0.5rem;
    h3 {
      font-size: 1.75rem;
      font-family: Inter-Bold, Inter;
      font-weight: bold;
      color: #222222;
      line-height: 1.75rem;
    }
    h4 {
      font-size: 1.33rem;
      font-family: Inter-Bold, Inter;
      font-weight: bold;
      color: #222222;
      line-height: 1.5rem;
    }
    .closeIcon {
      top: 1.5rem;
      right: 1.5rem;
    }
  }
}

.trialSuccessBox {
  width: 34.17rem;
  padding: 2.5rem;
  background-color: white;
  border-radius: 1.33rem;

  .modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: 1.75rem;
      font-family: Inter-Bold, Inter;
      font-weight: bold;
      color: rgba(#222, 0.8);
      line-height: 1.75rem;
    }
  }

  .container {
    text-align: center;

    .successIllustration {
      position: relative;
      width: 14.06rem;
      height: 11.04rem;
      margin: auto;
      margin-top: 4rem;
    }
    h3 {
      font-size: 1.75rem;
      font-family: Inter-SemiBold, Inter;
      font-weight: 600;
      color: #222222;
      line-height: 2.5rem;
      margin-top: 3.75rem;
    }
    h4 {
      font-size: 1.75rem;
      font-family: Inter-SemiBold, Inter;
      font-weight: 600;
      color: #222222;
      line-height: 2.5rem;
    }
    .playLink {
      display: inline-block;
      padding: 1.17rem 6.67rem;
      background: linear-gradient(270deg, #f82757 0%, #984cec 100%);
      border-radius: 2.42rem;
      font-size: 1.33rem;
      font-family: Inter-SemiBold, Inter;
      font-weight: 600;
      color: #ffffff;
      line-height: 1.75rem;
      cursor: pointer;
      user-select: none;
      margin-top: 3.33rem;
    }

    .strategyLink {
      font-size: 1.17rem;
      font-family: Inter-Medium, Inter;
      font-weight: 500;
      color: #222222;
      line-height: 1.17rem;
      text-decoration: underline;
      margin-top: 1.67rem;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 480px) {
  .trialSuccessBox {
    // width: calc(100% - 3.34rem);
    width: 100%;
    margin: auto;
    padding: 1.67rem;

    .modalHeader {
      p {
        font-size: 1.5rem;
        font-family: Inter-Bold, Inter;
        font-weight: bold;
        color: rgba(#222, 0.5);
        line-height: 1.5rem;
      }
    }
    .container {
      .successIllustration {
        margin-top: 3.17rem;
        width: 10.94rem;
        height: 8.59rem;
        margin-bottom: 2.42rem;
      }
      h3 {
        font-size: 1.5rem;
        font-family: Inter-SemiBold, Inter;
        font-weight: 600;
        color: #222222;
        line-height: 2.17rem;
        max-width: 90%;
        margin: auto;
      }
      .playLink {
        padding: 1rem 4.92rem;
        font-size: 1.33rem;
        font-family: Inter-SemiBold, Inter;
        font-weight: 600;
        color: #ffffff;
        line-height: 1.33rem;
        margin-top: 2.5rem;
      }
      .strategyLink {
        margin-top: 1rem;
        font-size: 1.17rem;
        font-family: Inter-Medium, Inter;
        font-weight: 500;
        color: #222222;
        line-height: 1.17rem;
        margin-bottom: 1rem;
      }
    }
  }
}

.quickTrialBox {
  width: 31.67rem;
  // height: 43.17rem;
  background: #fcfcfc;
  border-radius: 1.33rem;
  padding: 2.42rem 2.5rem;

  .modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: 1.75rem;
      font-family: Inter-Bold, Inter;
      font-weight: bold;
      color: rgba(#222, 0.5);
      line-height: 1.75rem;
    }
  }

  .modalContent {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .cardBox {
      width: 18.33rem;
      margin: 2.2rem auto 2.4rem;
      box-shadow: 0rem 0.33rem 5rem 0rem rgba(0, 0, 0, 0.1);
      border-radius: 1rem;
      overflow: hidden;
    }

    .tryAnother {
      display: inline-flex;
      justify-content: center;
      cursor: pointer;
      user-select: none;
      max-width: 8rem;
      margin: auto;
      p {
        text-decoration: underline;
        margin-left: 0.5rem;
      }
    }
  }

  .btnBox {
    max-width: 20rem;
    display: inline-block;
    margin: auto;
    font-size: 1.33rem;
    font-family: Inter-SemiBold, Inter;
    font-weight: 600;
    color: #ffffff;
    line-height: 1.33rem;
    padding: 1.33rem 4.42rem;
    background: linear-gradient(270deg, #f82757 0%, #984cec 100%);
    border-radius: 2.42rem;
    text-align: center;
    user-select: none;
    cursor: pointer;
    margin-top: 1.67rem;
  }
}

@media screen and (max-width: 460px) {
  .quickTrialBox {
    width: 80vw;
    min-width: 288px;
    padding: 1.67rem 1rem;

    .modalHeader {
      font-size: 1.5rem;
      font-family: Inter-Bold, Inter;
      font-weight: bold;
      color: #222222;
      line-height: 1.5rem;
    }
    .modalContent {
      .cardBox {
        margin: 2rem auto 2rem;
        width: 15rem;
      }
    }
    .btnBox {
      padding: 1rem 3.58rem;
      font-size: 1.33rem;
      font-family: Inter-SemiBold, Inter;
      font-weight: 600;
      color: #ffffff;
      line-height: 1.33rem;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }
  }
}

@media screen and (max-width: 375px) {
  .quickTrialBox {
    width: 95%;
    .modalHeader {
      p {
        font-size: 1.75rem;
        font-family: Inter-Bold, Inter;
        font-weight: bold;
        color: #222222;
        line-height: 1.75rem;
      }
    }
  }
}

.activeChainConfirm {
  width: 32.5rem;
  background: #ffffff;
  border-radius: 1.33rem;
  padding: 1.5rem 1rem 1.5rem;
  text-align: center;
  position: relative;

  .modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: 1.75rem;
      font-family: Inter-Bold, Inter;
      font-weight: bold;
      color: rgba(#222, 0.8);
      line-height: 1.75rem;
    }
  }

  .modalContent {
    padding: 1.67rem 1.67rem 1rem;

    p {
      font-size: 1.5rem;
      font-family: Inter-Medium, Inter;
      font-weight: 500;
      color: #222222;
    }
    .activeBtn {
      margin-top: 2rem;
      padding: 1.33rem;
      font-size: 1.33rem;
      font-family: Inter-SemiBold, Inter;
      font-weight: 600;
      color: #ffffff;
      line-height: 1.33rem;
      background: linear-gradient(270deg, #f82757 0%, #984cec 100%);
      border-radius: 2.42rem;
      user-select: none;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 460px) {
  .activeChainConfirm {
    width: 100%;

    .modalHeader {
      p {
        font-size: 1.75rem;
        font-family: Inter-Bold, Inter;
        font-weight: bold;
        color: #222222;
        line-height: 1.75rem;
      }
    }

    .modalContent {
      padding: 1rem 1.2rem;
    }
  }
}

.txDialogBox {
  width: 32.5rem;
  min-height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 2.67rem 2rem;
  border-radius: 1.67rem;
  overflow: hidden;
  p {
    font-size: 1.5rem;
    font-family: Inter-Medium, Inter;
    font-weight: 500;
    color: #222222;
    line-height: 1.67rem;
    text-align: center;
  }
  .txLink {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0.6rem auto 0;
    color: #8e50e4;
    font-size: 1.17rem;
  }
}

@media screen and (max-width: 460px) {
  .txDialogBox {
    width: 100%;
    margin: auto;
  }
}

.trialConfirmModal {
  width: 31.67rem;
  background: #fcfcfc;
  border-radius: 1.33rem;
  padding: 2.42rem 2.5rem;
  .modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: 1.75rem;
      font-family: Inter-Bold, Inter;
      font-weight: bold;
      color: rgba(#222, 0.5);
      line-height: 1.75rem;
    }
  }

  .modalContent {
    .detailItem {
      display: flex;
      justify-content: space-between;
      margin-top: 3rem;
      margin-bottom: 1rem;
      .trialPeriod {
        font-size: 1.75rem;
        font-family: Inter-SemiBold, Inter;
        font-weight: 600;
        color: #222222;
        line-height: 1.75rem;
      }
      .trialDays {
        font-size: 1.75rem;
        font-family: Inter-Medium, Inter;
        font-weight: 500;
        color: #8e50e4;
        line-height: 1.75rem;
      }
    }

    .activeBtn {
      display: flex;
      justify-content: center;
      width: 20rem;
      text-align: center;
      margin: auto;
      margin-top: 2rem;
      padding: 1.33rem;
      font-size: 1.33rem;
      font-family: Inter-SemiBold, Inter;
      font-weight: 600;
      color: #ffffff;
      line-height: 1.33rem;
      background: linear-gradient(270deg, #f82757 0%, #984cec 100%);
      border-radius: 2.42rem;
      user-select: none;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 460px) {
  .trialConfirmModal {
    width: 80vw;
    .modalContent {
      .activeBtn {
        width: auto;
      }
    }
  }
}

.qrcodeBox {
  width: 34.17rem;
  padding: 2.5rem;
  background-color: white;
  border-radius: 1.33rem;

  .modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: 1.75rem;
      font-family: Inter-Bold, Inter;
      font-weight: bold;
      color: rgba(#222, 0.8);
      line-height: 1.75rem;
    }
  }

  .container {
    text-align: center;
    padding: 7.5rem 0;
    .qrcode {
      width: 11rem;
      height: 11rem;
    }
    p {
      font-size: 1.17rem;
      font-family: Inter-Regular, Inter;
      font-weight: 400;
      color: rgba(#222, 0.5);
      line-height: 1.17rem;
      margin-top: 0.83rem;
    }
  }
}

.withdrawModal {
  background: #ffffff;
  border-radius: 1.33rem;
  width: 39.67rem;
  position: relative;
  padding: 3.75rem 3.33rem 3.42rem;

  .closeBtn {
    position: absolute;
    top: 0.67rem;
    right: 0.67rem;
  }
  h3 {
    font-size: 2rem;
    font-family: Inter-Bold, Inter;
    font-weight: bold;
    color: #222222;
    line-height: 1.67rem;
    // margin-top: 3.75rem;
    text-align: center;
    margin-bottom: 5.92rem;
  }
  p {
    font-size: 1.33rem;
    font-family: Inter-Regular, Inter;
    font-weight: 400;
    color: #222222;
    line-height: 2rem;
    margin-bottom: 1.67rem;
  }

  .balanceItem,
  .networkItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.58rem;
    border-bottom: 1px solid rgba(#222, 0.1);

    .itemKey {
      font-size: 1.33rem;
      font-family: Inter-SemiBold, Inter;
      font-weight: 600;
      color: #222222;
      line-height: 1.17rem;
    }
    .itemValue {
      font-size: 1.33rem;
      font-family: Inter-Regular, Inter;
      font-weight: 400;
      color: #222222;
      line-height: 1.17rem;
    }
  }

  .networkItem {
    margin-top: 1.67rem;
    margin-bottom: 4.17rem;
  }

  .withdrawBtn {
    background: #8e50e4;
    border-radius: 2rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.33rem;
    font-family: Inter-SemiBold, Inter;
    font-weight: 600;
    color: #ffffff;
    line-height: 1.33rem;
    cursor: pointer;
    user-select: none;

    span {
      margin-left: 1rem;
      font-size: 1.33rem;
      width: 16px !important;
      height: 16px !important;
      color: white;
    }
  }
  .loadingBtn {
    cursor: not-allowed;
    opacity: 0.8;
  }
}

@media screen and (max-width: 600px) {
  .withdrawModal {
    width: 100%;
    padding: 3.58rem 1.33rem 2.5rem;

    h3 {
      font-size: 1.5rem;
      font-family: Inter-Bold, Inter;
      font-weight: bold;
      color: #222222;
      line-height: 1.33rem;
      margin-bottom: 5rem;
    }
    p {
      font-size: 1.17rem;
      font-family: Inter-Regular, Inter;
      font-weight: 400;
      color: #222222;
      line-height: 1.67rem;
    }

    .balanceItem,
    .networkItem {
      padding-bottom: 1.25rem;
    }

    .networkItem {
      margin-top: 1.25rem;
      margin-bottom: 3.33rem;
    }
    .withdrawBtn {
      height: 3.33rem;
      font-size: 1.33rem;
      font-family: Inter-SemiBold, Inter;
      font-weight: 600;
      color: #ffffff;
      line-height: 1.33rem;
    }
  }
}

@media screen and (max-width: 400px) {
  .withdrawBalanceBox {
    :global {
      .MuiPaper-root {
        margin: 1.33rem;
      }
    }
  }
}
