.gameStrategy {
  background: #f4f4f9;

  .gameStrategyBox {
    width: 78.2%;
    margin: auto;
    padding-top: 5rem;
    padding-bottom: 4rem;

    .cardList {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-top: 2.5rem;
      & > div {
        box-shadow: none;
        margin-bottom: 1.33rem;
      }
    }
  }
}

@media screen and (max-width: 1650px) {
  .gameStrategy {
    .gameStrategyBox {
      width: 80%;
      .cardList {
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .gameStrategy {
    .gameStrategyBox {
      width: 83.3%;
      // padding-top: 6.67rem;
      .cardList {
      }
    }
  }
}

@media screen and (max-width: 1240px) {
  .gameStrategy {
    .gameStrategyBox {
      width: 89%;
      padding-top: 5rem;

      .cardList {
        margin-top: 2.5rem;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .gameStrategy {
    .gameStrategyBox {
      width: 92.2%;
      padding-top: 5rem;

      .cardList {
        margin-top: 2.5rem;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .gameStrategy {
    .gameStrategyBox {
      width: 91.5%;
      .cardList {
        flex-direction: column;
        margin-top: 1.67rem;
        & > div {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .gameStrategy {
    .gameStrategyBox {
      width: calc(100% - 2rem);
      padding-top: 2.5rem;
      padding-bottom:0rem;

      .cardList {
        margin-top: 1rem;
        & > div:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
