.gameStrategy {
  // height: 134rem;

  .gameStrategyBox {
    height: 100%;
    width: 73%;
    margin: auto;
    padding-top: 6.75rem;

    .cardList {
     
    }
  }
}


@media screen and (max-width: 1650px) {
  .gameStrategy {

    .gameStrategyBox {
      width: 78%;
      .cardList {
      
     
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .gameStrategy {

    .gameStrategyBox {
      width: 83.3%;
      padding-top: 6.67rem;
      .cardList {

      }
    }
  }
}

@media screen and (max-width: 1240px) {
  .gameStrategy {

    .gameStrategyBox {
      width: 89%;
      padding-top: 5rem;
      
      .cardList {
        margin-top: 2.5rem;
      }
    }
  }
}

@media screen and (max-width: 1024px){
  .gameStrategy {

    .gameStrategyBox {
      width: 92.2%;
      padding-top: 5rem;
      
      .cardList {
        margin-top: 2.5rem;
      }
    }
  }
}