.articleCard {
  // margin-bottom: 2rem;
  box-shadow: none;

  a {
    display: flex;
    // justify-content: space-between;
  }

  &:hover {
    box-shadow: 0 6px 18px #1d293924;
  }

  .articleInfo {
    // display: flex;
    // flex-direction: column;
    // flex-grow: 1;
    margin-left: 1.67rem;
    // border: 1px solid gray;

    h4 {
      display: inline-flex;
      min-width: 5rem;
      background: #222222;
      border-radius: 0rem 8.33rem 8.33rem 0rem;
      font-size: 1.33rem;
      font-family: Inter-Bold, Inter;
      font-weight: bold;
      color: #96fcc8;
      line-height: 1.33rem;

      padding: 0.5rem 1.08rem 0.5rem 0.83rem;
    }
    h3 {
      font-size: 2rem;
      font-family: Inter-SemiBold, Inter;
      font-weight: 600;
      color: #222222;
      line-height: 2rem;
      text-align: left;

      margin: 2.33rem 0 1rem;
      &:hover {
        color: rgba(#222, 0.8);
      }
    }
    p {
      max-width: 60rem;
      font-size: 1.33rem;
      font-family: Inter-Regular, Inter;
      font-weight: 400;
      color: rgba(#222, 0.7);
      line-height: 2rem;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }
  .gameCover {
    flex-grow: 0;
    flex-shrink: 0;
    // width: 21.5rem;
    width: 11.67rem;
    height: 11.67rem;
    background: #ffffff;
    .imaegBox {
      position: relative;
      height: 100%;
      width: 100%;
      img {
        border-radius: 3.33rem 0rem 3.33rem 0rem !important;
      }
    }
  }
}

@media screen and (min-width: 1921px) {
  .articleCard {
    .articleInfo {
      h3 {
        // height: 6.66rem;
      }
    }
  }
}
@media screen and (max-width: 1440px) {
  .articleCard {
    height: auto;
    .gameCover {
      // width: 19.17rem;
    }
    .articleInfo {
      // padding: 2.5rem 1.67rem;
    }
  }
}

@media screen and (max-width: 1024px) {
  .articleCard {
    height: auto;
    .gameCover {
      // width: 11.67rem;
    }
    .articleInfo {
      // padding: 1.67rem;
    }
  }
}

@media screen and (max-width: 800px) {
  .articleCard {
    height: auto;
    // margin-bottom: 1.33rem;
    max-height: 160px;
    .gameCover {
      display: none;
    }

    .articleInfo {
      // padding: 1.67rem 1.33rem 1.75rem;
      margin-left: 0;

      h4 {
        font-size: 1.33rem;
        line-height: 1.33rem;
      }
      h3 {
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 1.25rem 0 0;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .articleCard {
    .articleInfo {
      h3 {
        font-size: 1.5rem;
        font-family: Inter-SemiBold, Inter;
        font-weight: 600;
        color: #222222;
        line-height: 2rem;
        margin-top: 1rem;
        margin-bottom: 0.83rem;
      }
      h4 {
        font-size: 1.17rem;
        font-family: Inter-Bold, Inter;
        font-weight: bold;
        color: #96fcc8;
        line-height: 1.17rem;
        padding: 0.42rem 1.17rem 0.42rem 0.75rem;
      }
      p {
        font-size: 1.17rem;
        font-family: Inter-Regular, Inter;
        font-weight: 400;
        line-height: 1.67rem;

        -webkit-line-clamp: 3;
 
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .articleCard {
    .gameCover {
      .imaegBox {
        height: 100%;
      }
    }
  }
}
